*.sh
*.bat
*.exe
*.dll
*.log
*.ini
.git

init/app.sqlite3
init/app.sqlite3.dll

start_ap/

package.json
package-lock.json

error.html

Dockerfile

RELEASE.md
README.md
LICENSE.md

r_install_package.r
