#trace-network, .trace_body {
    position: relative;
    height: 85vh;
    border: 2px solid #444444 !important;
    border-radius: 0.25rem;
    background-color: #222222;
}

table.legend_table {
    font-size: 11px;
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}

table.legend_table, td {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    padding: 2px;
}

div.table_content {
    width: 80px;
    text-align: center;
}

div.table_description {
    width: 100px;
}

#operation {
    font-size: 28px;
}

.vis-label {
    min-width: 100px;
    color: black;
}

.btn-vis {
    margin: 10px 0;
}

.btn-green {
    background-color: seagreen;
    border-color: seagreen;
}

/* .form-group .list-group-item {
  padding: 0.375rem 0.75rem;
  text-align: left;
  background-color: #222222;
} */

.grouplist-checkbox {
    border: 1px solid #222222;
    border-radius: 2px;
    max-height: 100px;
    overflow: auto;
}

#modal-edge-popup .modal-dialog {
    max-width: 990px;
}

.selected-col {
    /* padding: 0.375rem 0.75rem; */
    text-align: left;
    background-color: #222222;
    padding: 0.375rem;
    /* max-width: calc(33.333333333333% - 10px); */
    margin-left: 5px;
    border: 1px solid #222222;
    border-radius: 2px;
}

.col-title {
    margin-top: 20px;
}

.trc-remove {
    /* margin: -20px -15px 0 0; */
    position: absolute;
    right: 4px;
    margin-top: -20px;
}

.trc-row {
    padding: 5px 0;
    margin-bottom: 10px;
    border: 2px solid #444444;
}

#traceNetworkLayout {
    position: absolute;
    top: 118px;
    left: 13px;
    width: 140px;
    border: 1px solid;
    height: 25px;
    border-radius: 24px;
    font-size: 14px;
    padding-top: 1px;
}