.card-border-active {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    background-color: #222222;
    background-clip: border-box;
    border: 1px solid #65c5f1;
    border-radius: 0.25rem;
}

.card-border {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    background-color: #222222;
    background-clip: border-box;
    border: 1px solid #333333;
    border-radius: 0.25rem;
}

.time-vis-card:not(:first-child) {
    margin-top: 10px;
}
