{% extends "base.html" %}
{% block asset %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('tile_interface.static', filename = 'css/tile_interface.css') }}"
    />
{% endblock %}

{% block midbody %}
    <div class="tile-head">
        <div class="col">
            <button
                class="btn btn-collapse-gray collapsed-btn"
                type="button"
                onclick="collapsingTiles(false);"
            >
                <i class="fa-solid fa-sm fa-angles-down"></i> Expand All
            </button>
            <button
                class="btn btn-collapse-gray collapsed-btn"
                type="button"
                onclick="collapsingTiles();"
            >
                <i class="fa-solid fa-sm fa-angles-up"></i> Collapse All
            </button>
        </div>
    </div>
    <div class="tile-wrapper">
        {% for section in sections %}
            <div class="tile-interface tile-usage active graph-navi">
                <div class="section-title">
                    <div
                        class="row"
                        href="#section_{{ loop.index }}"
                        data-toggle="collapse"
                        aria-expanded="true"
                    >
                        <div class="col section-name">
                            <div class="icon-col mr-3">
                                <a
                                    class="btn-collapse collapsed"
                                    href="#section_{{ loop.index }}"
                                    data-toggle="collapse"
                                    aria-expanded="true"
                                ></a>
                            </div>
                            <h3 class="header-left">
                                <span class="mr-1"
                                    ><img src="{{ section.icon_path }}" /></span
                                >{{ _(section.title|safe) }}
                            </h3>
                        </div>
                        <div class="col">
                            {% for para in section.example.split('\\n') %}
                                <p>{{ para|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div
                    class="section-content collapse"
                    id="section_{{ loop.index }}"
                >
                    {% for row in section.tiles %}
                        <div class="tile-usage-wrap" style="margin-left: 0;">
                            {% for tile in row %}
                                <div
                                    class="tile-usage-item"
                                    data-x="{{ tile.row }}"
                                    data-y="{{ tile.column }}"
                                    title="{{ tile.hover|replace('"', "&quot;")|safe }}"
                                >
                                    {% if tile != None %}
                                        <div class="tile-content-wrap">
                                            <div
                                                class="tile-content"
                                                onclick="return redirectPage(this);"
                                            >
                                                <i
                                                    class="fa fa-external-link-alt ghost-button"
                                                    onclick="setOpenTab();"
                                                ></i>
                                                <div class="tile-thumb">
                                                    <img
                                                        src="{{ tile.png_path }}"
                                                    />
                                                </div>
                                                <div class="tile-title">
                                                    <h5>
                                                        <a
                                                            class="link-address"
                                                            href="{{ tile.link_address }}"
                                                            >{{ tile.title|safe }}</a
                                                        >
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tile-description">
                                            {% for para in tile.description.split('\\n') %}
                                                <p>{{ para|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('tile_interface.static', filename = 'js/tile_interface.js') }}"></script>
{% endblock %}
