<footer id="baseFooter" class="graph-navi graph-navi-top-down">
    <div id="lastUpdateTime" class="extra-info"></div>
    <div id="processingTime" class="extra-info"></div>
    <div class="copyright sub-label">Analysis Platform + Digital Native QC 7 Tools</div>
    <div class="copyright sub-label cookie-banner-group-btn">
        <span
            type="button"
            class="btn btn-link"
            style="color: #fff; white-space: nowrap;font-weight: normal;"
            data-cc="show-preferencesModal"
        >
            {{ _("Cookie Preferences") }}
        </span>
    </div>
</footer>
