<div class="card graph-navi" id="line">
    <div class="card-body">
        <div class="panel-group" id="accordionLine" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <form id="lineFilterForm" onSubmit="return false;">
                    <div class="panel-heading" role="tab" id="headingLine">
                        <div class="row form-header">
                            <div class="col-lg-5 col-12">
                                <div class="collapse-box header-left">
                                    <a class="header-left btn-collapse" role="button" data-toggle="collapse"
                                       data-parent="#accordionLine"
                                       href="#collapseLine" aria-expanded="true" aria-controls="collapseLine">
                                    </a>
                                    <h3 class="header-left" style="margin-left: 10px">{{ _("Line Filter Config") }}</h3>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12 d-flex align-items-center justify-content-end">
                                <div class="mr-3">
                                    <input id="searchLineFilter" class="form-control common-search-input"
                                           placeholder="{{_('Search')}}...">
                                </div>

                                <button name="configRegister" class="btn btn-primary btn-right" type="button"><i
                                        class="far fa-save"></i> {{ _("Register") }}
                                </button>
                                <button id="sModeLine" class="changeMode btn btn-primary btn-right" type="button"
                                        data-sm="lineSM"><i
                                        class="far fa-file-excel"></i> <span>{{ _("Edit Mode") }}</span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapseLine" class="panel-collapse collapse show" role="tabpanel"
                         aria-labelledby="headingLine">
                        {{ macros.alert_message("alertMsgSetting") }}
                        <div class="row">
                            <div class="col-6 form-group">
                                <h5>
                                    {{ _("Line Column") }}
                                </h5>
                                <input type="hidden" name="filterId" disabled>
                                <select id="lineColumnName" name="columnName"
                                        class="form-control select2-selection--single select-n-columns">
                                    <option value="---">---</option>
                                </select>
                            </div>
                        </div>
                        <table id="tblConfigline" class="table table-bordered table-main table-hover-light">
                            <thead>
                            <tr>
                                <th class="col-number">{{ _("No.") }}</th>
                                <th class="filter-name text-center">{{ _("Filter Name") }}</th>
                                <th class="text-center" title="{{ _("Please enter a character string for the filter condition.") }}">
                                    <span class="hint-text">{{ _("Filter") }}</span>
                                </th>
                                <th class="filter-condition text-center" title="{{ _("Search Options") }}">
                                    <span class="hint-text">{{ _("Filter Type") }}</span>
                                </th>
                                <th class="filter-start-digit text-center">{{ _("Starting Digit") }}</th>
                                <th class="text-center button-column"></th>
                            </tr>
<!--                            <tr id="filters" class="filter-row">-->
<!--                                <th scope="col" class="search-box"><input class="form-control filterCol" data-col-idx="0" placeholder='{{ _("Filter") }}...'></th>-->
<!--                                <th scope="col" colspan="2" class="search-box"><input class="form-control filterCol" data-col-idx="1" placeholder='{{ _("Filter") }}...'></th>-->
<!--                                <th scope="col" class="search-box"><input class="form-control filterCol" data-col-idx="2" placeholder='{{ _("Filter") }}...'></th>-->
<!--                                <th scope="col" class="search-box filter-start-digitn"></th>-->
<!--                                <th scope="col" class="search-box button-column"></th>-->
<!--                            </tr>-->
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="editmode-container hide">
                            <div id="lineSM" name="jexcel" class=""></div>
                        </div>
                        <div class="row" style="padding-top: 5px;">
                            <div class="col-2">
                                <button class="btn btn-success icon-btn" name="addConfig" type="button">
                                    <i class="fas fa-plus-circle"></i></button>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="filterConfirmModal" class="modal fade in" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ _("Please confirm") }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p class="modal-inform">{{ _("Do you want to save changes?") }}</p>
                </div>
                <div class="modal-footer">
                    <a id="confirmRegister" class="btn btn-primary" data-item-id=""
                       data-dismiss="modal">{{ _("OK") }}</a>
                    <a class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="" class="modal fade in" name="filterConfirmSwitchModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ _("Please confirm") }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p class="modal-inform">{{ _("The error data highlighed in red will be lost. Do you want to continue?") }}</p>
                </div>
                <div class="modal-footer">
                    <a id="" class="btn btn-primary" name="confirmSwitch" data-item-id=""
                       data-dismiss="modal">{{ _("OK") }}</a>
                    <a class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
