{% extends "base.html" %}
{% block header %}
    <div class="row">
        <div class="col-9">
            <div class="page-title graph-navi">
                <h2>{{ page_title }}</h2>
            </div>
            <div style="color:white">
                <i class="fas fa-external-link-alt"></i>
                <a href="/ap/config/job/failed" target="_blank" style="font-size: 18px"
                    ><u>{{ _('Failed Job List') }}</u></a
                >
            </div>
        </div>
    </div>
{% endblock %}

{% block midbody %}
    <div class="card graph-navi job-list-content" id="basic-config">
        <div class="card-body job-list-main pr-0">
            <div class="card-table position-relative d-flex w-100" style="gap: 10px;">
                <div id="jobDataTableWrapper" class="w-100">
                    <div class="d-flex align-items-center justify-content-end">
                        <input
                            id="searchJobList"
                            class="form-control common-search-input"
                            placeholder="{{ _('Search') }}..."
                        />
                    </div>
                    <div class="position-relative d-flex justify-content-between">
                        <div class="py-2 align-content-center d-flex flex-wrap">
                            <div class="mx-1">Job Select:</div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="jobFilterImport"
                                    name="jobFilter"
                                    value="IMPORT"
                                />
                                <label class="custom-control-label" for="jobFilterImport"> {{ _('Import') }} </label>
                            </div>

                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="jobFilterPastImport"
                                    name="jobFilter"
                                    value="PAST_IMPORT"
                                />
                                <label class="custom-control-label" for="jobFilterPastImport">
                                    {{ _('Past Import') }}
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="jobFilterDataLink"
                                    name="jobFilter"
                                    value="DATA_LINK"
                                />
                                <label class="custom-control-label" for="jobFilterDataLink">
                                    {{ _('DataLink') }}
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="jobFilterOthers"
                                    name="jobFilter"
                                    value="OTHERS"
                                />
                                <label class="custom-control-label" for="jobFilterOthers"> {{ _('Others') }} </label>
                            </div>
                        </div>
                        <div class="py-2 align-content-center d-flex flex-wrap">
                            <div class="mx-1">{{ _('Status Select') }}:</div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="statusFilterDone"
                                    name="statusFilter"
                                    value="DONE"
                                />
                                <label class="custom-control-label" for="statusFilterDone"> {{ _('Done') }} </label>
                            </div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="statusFilterError"
                                    name="statusFilter"
                                    value="ERROR"
                                />
                                <label class="custom-control-label" for="statusFilterError"> {{ _('Error') }} </label>
                            </div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="statusFilterProcessing"
                                    name="statusFilter"
                                    value="PROCESSING"
                                />
                                <label class="custom-control-label" for="statusFilterProcessing">
                                    {{ _('Processing') }}
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mx-1">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="statusFilterOthers"
                                    name="statusFilter"
                                    value="OTHERS"
                                />
                                <label class="custom-control-label" for="statusFilterOthers"> {{ _('Others') }} </label>
                            </div>
                        </div>
                    </div>
                    <div id="jobDataTable" class="table-responsive">
                        <table
                            class="table bg-secondary table-striped table-hover table-sm table-hover-light"
                            id="jobTable"
                            data-toggle="jobTable"
                            data-ajax="ajaxRequest"
                            data-side-pagination="server"
                            data-pagination="true"
                        >
                            <thead class="thead-dark">
                                <tr>
                                    <th
                                        data-field="job_id"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        data-sortable="true"
                                        scope="col"
                                        class="job-id job-id-col"
                                    >
                                        ID
                                    </th>
                                    <th
                                        data-field="job_name"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        scope="col"
                                        class="job-name job-name-col"
                                    >
                                        {{ _('Job Name') }}
                                        <span
                                            id="btn-extend-toggle-container-job"
                                            onclick="toggleJobTableWidth(event)"
                                            title="{{ _('Extend Column') }}"
                                        >
                                            <span id="btn-extend-toggle-job" class="btn text-end">&#x27FE;</span>
                                        </span>
                                    </th>
                                    <th
                                        data-field="db_master_name"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        scope="col"
                                        class="job-db-name db-name-col"
                                    >
                                        {{ _('Data Source Name') }}
                                    </th>
                                    <th
                                        data-field="process_master_name"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        scope="col"
                                        class="job-process-name proc-name-col"
                                    >
                                        {{ _('Process Name') }}
                                    </th>
                                    <th
                                        data-field="start_tm"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        data-sortable="true"
                                        scope="col"
                                        class="job-start-time duration-col"
                                    >
                                        {{ _('Started') }}
                                    </th>
                                    <th
                                        data-field="duration"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        data-sortable="true"
                                        scope="col"
                                        class="job-duration duration-col"
                                        title="{{ _('Duration') }}[sec]"
                                    >
                                        [sec]
                                    </th>
                                    <th
                                        data-field="progress"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        data-sortable="true"
                                        scope="col"
                                        class="job-progress job-progress-col"
                                    >
                                        {{ _('Progress') }}
                                    </th>
                                    <th
                                        data-field="status"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        scope="col"
                                        class="job-status job-status-col"
                                    >
                                        {{ _('Status') }}
                                    </th>
                                    <th
                                        data-field="detail"
                                        data-filter-control="input"
                                        data-filter-control-placeholder="{{ _('Filter') }}..."
                                        scope="col"
                                        class="job-detail detail-col"
                                    >
                                        {{ _('Detail') }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-active" id="backgroundJobsTbl"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="jobDetailSidePanel" class="job-side-panel" style="width: 25%">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">{{ _('Detail') }}</h6>
                <button id="btnCopyAllJobInfo" class="btn btn-sm clipboard" title="{{ _('Copy') }}">
                    <i class="fas fa-copy"></i>
                </button>
            </div>
            <div
                id="jobSummarySection"
                class="card"
                style="height: 10%; overflow: auto; background-color: #303030; color: white; padding: 10px;"
            >
                <div id="jobSummaryContent"></div>
            </div>
            <div
                id="jobDetailSection"
                class="card"
                style="height: 90%; overflow: auto; background-color: #303030; color: white; padding: 10px;"
            >
                <div id="jobDetailContent"></div>
            </div>
        </div>
        <div class="loading"></div>
    </div>
{% endblock %}

{% block asset %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('setting_module.static', filename = 'css/background_process.css') }}"
    />

    <script>
        gtag('config', appContext.ga_tracking_id, {
            page_title: '{{ page_title }}',
        });
    </script>
{% endblock %}

{% block js %}
    <!--<script>-->
    <!--    const bgrdJobs = {{ jobs| safe }};-->
    <!--</script>-->
    <script src="{{ url_for('setting_module.static', filename = 'js/background_process.js') }}"></script>
{% endblock %}
