<div class="card graph-navi" id="data_source">
    <div class="card-body">
        <div class="panel-group" id="accordionDS" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <form id="db-config-form">
                    <div class="panel-heading" role="tab" id="headingDS">
                        <div class="form-header">
                            <div
                                class="row d-flex align-items-center justify-content-between"
                                style="padding-top: 5px; padding-bottom: 5px;"
                            >
                                <div class="col-5 collapse-wrapped-row">
                                    <div class="collapse-box header-left my-0">
                                        <a
                                            role="button"
                                            class="btn-collapse"
                                            data-toggle="collapse"
                                            data-parent="#accordionDS"
                                            href="#collapseDS"
                                            aria-expanded="true"
                                            aria-controls="collapseDS"
                                        >
                                        </a>
                                    </div>
                                    <h3 class="header-left">{{ _("Data Source Config") }}</h3>
                                </div>
                                <div class="col-7 d-flex align-items-center justify-content-end">
                                    <div>
                                        <input
                                            id="searchDataSource"
                                            class="form-control common-search-input"
                                            placeholder="{{ _('Search') }}..."
                                        />
                                    </div>
                                </div>
                                <!-- <div class="col-1">
								   <button id="db-config-register" style="display: none;" class="btn btn-primary btn-right" type="button"><i
										class="far fa-save"></i> {{ _("Save Setting") }}</button>
								</div> -->
                            </div>
                        </div>
                    </div>
                    <div
                        id="collapseDS"
                        class="panel-collapse collapse show"
                        role="tabpanel"
                        aria-labelledby="headingDS"
                    >
                        {{ macros.alert_message("alert-msg-db") }}
                        <div class="table-responsive panel-body">
                            <table
                                id="tblDbConfig"
                                class="table table-bordered table-main table-fixed table-hover-light"
                            >
                                <thead>
                                    <tr>
                                        <th class="col-number">{{ _("No.") }}</th>
                                        <th scope="col" class="text-center th-lg">{{ _("Data Source Name") }}</th>
                                        <th scope="col" class="text-center">{{ _("Data Source Type") }}</th>
                                        <th class="text-center button-column" scope="col"></th>
                                        <th class="text-center th-lg" scope="col">{{ _("Comment") }}</th>
                                        <th class="text-center" scope="col" style="width: 130px;">
                                            {{ _("Polling Frequency") }}
                                        </th>
                                        <th class="text-center button-column" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for db_info in data_sources %}
                                        <tr name="db-info" id="ds_{{ db_info.id }}" data-ds-id="{{ db_info.id }}">
                                            <td class="col-number">{{ loop.index }}</td>
                                            <td>
                                                <input
                                                    name="name"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="{{ _('Data Source Name') }}"
                                                    value="{{ db_info.name }}"
                                                    disabled="disabled"
                                                    data-order
                                                />
                                            </td>
                                            <td class="text-center">
                                                <input
                                                    name="type"
                                                    data-db-type="{{ db_info.type }}"
                                                    class="form-control"
                                                    type="text"
                                                    value="{{ datasource_types_i18n[db_info.type] }}"
                                                    disabled="disabled"
                                                />
                                            </td>
                                            <td class="text-center">
                                                <button
                                                    class="btn btn-secondary db-file icon-btn"
                                                    type="button"
                                                    onclick="loadDetail(this)"
                                                    data-item-id="{{ db_info.id }}"
                                                    title=""
                                                >
                                                    <i class="fas fa-edit icon-secondary"></i>
                                                </button>
                                            </td>
                                            <td>
                                                {% if db_info.comment != None %}
                                                    <textarea
                                                        name="comment"
                                                        class="form-control form-data"
                                                        rows="1"
                                                        disabled="disabled"
                                                    >
{{ db_info.comment }}</textarea
                                                    >
                                                {% else %}
                                                    <textarea
                                                        name="comment"
                                                        class="form-control form-data"
                                                        rows="1"
                                                        disabled="disabled"
                                                    ></textarea>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% set default_option = [0, 3, 5 ,10, 60, 1440] %}
                                                {% if 'SNOWFLAKE' in db_info.type %}
                                                    {% set default_option = [0, 60, 1440] %}
                                                {% elif 'WEB' in db_info.type %}
                                                    {% set default_option = [0] %}
                                                {% endif %}
                                                {{ macros.polling_frequency_option('main'+db_info.type,  (0 if db_info.polling_frequency == None else db_info.polling_frequency) / 60, is_authorized, default_option, True, 'main-polling-frequency') }}
                                            </td>
                                            <td class="text-center">
                                                <button
                                                    onclick="deleteRow(this,'{{ db_info.id }}')"
                                                    type="button"
                                                    class="btn btn-secondary icon-btn"
                                                    {% if not is_authorized %}
                                                        disabled
                                                    {% endif %}
                                                >
                                                    <i class="fas fa-trash-alt icon-secondary"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="padding-top: 5px;">
                            <div class="col-2">
                                <button
                                    id="btn-add-db-config"
                                    onclick="addDBConfigRow()"
                                    type="button"
                                    class="btn btn-success icon-btn"
                                >
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- prettier-ignore-start -->
    <script>
        const is_authorized = {{ is_authorized|int }};
    </script>
    <!-- prettier-ignore-end -->
{% include 'db_config_modals.html' %}
