{% extends "base.html" %}

{% block asset %}
    <!-- Common CSS -->
    <script src="{{ url_for('static', filename = 'common/js/libs/jexcel.js') }}"></script>
    <script src="{{ url_for('static', filename = 'common/js/libs/jsuites.js') }}"></script>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename = 'common/css/jexcel.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename = 'common/css/jsuites.css') }}"
    />

    <!-- Visualization CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('setting_module.static', filename = 'css/filter_visualization.css') }}"
    />

    <script>
        gtag('config', GA_TRACKING_ID, {
            page_title: '{{ _("Filter/Graph") }} {{ _("Config") }}',
        });
    </script>
{% endblock %}

{% block header %}
    {{ macros.page_title(title=_("Filter Config")) }}
{% endblock %}

{% block midbody %}
    <!-- Header -->
    <div class="card card-xl graph-navi">
        <div class="card-body">
            <div class="d-flex align-items-center flex-row">
                <h3 class="header-left mb-0">{{ _("Process name") }}</h3>
                <div class="flex-grow-1 ml-3">
                    <select
                        name="type"
                        id="processList"
                        class="form-control select2-selection--single select-n-columns"
                    >
                        <option value="" selected>---</option>
                        {% for proc in procs %}
                            <option
                                value="{{ proc.id }}"
                                title="{{ proc.name_en }}"
                            >
                                {{ proc.shown_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="loading" style="display: none;"></div>

    <div id="detailCards" style="display: none">
        {% include '_filter_line.html' %}
        {% include '_filter_machine.html' %}
        {% include '_filter_partno.html' %}
        {% include '_filter_others.html' %}
        {% include 'filter_config_modals.html' %}
    </div>
    {{ optdata }}
{% endblock %}

{% block js %}
    <script src="{{ url_for('setting_module.static', filename = 'js/cfg_filter_main.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/cfg_filter_funcs.js') }}"></script>
{% endblock %}
