<div class="card graph-navi" id="process">
    <div class="card-body">
        <div class="panel-group" id="accordionPC" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <form id="proc-config-form">
                    <div class="panel-heading" role="tab" id="headingPC">
                        <div class="form-header">
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-7">
                                    <div class="collapse-box header-left">
                                        <a
                                            role="button"
                                            data-toggle="collapse"
                                            class="btn-collapse"
                                            data-parent="#accordionPC"
                                            href="#collapsePC"
                                            aria-expanded="true"
                                            aria-controls="collapsePC"
                                        >
                                        </a>
                                    </div>
                                    <h3 class="header-left">{{ _("Process Config") }}</h3>
                                </div>
                                <div class="col-5 d-flex justify-content-end">
                                    <input
                                        id="searchProcConfig"
                                        class="form-control common-search-input"
                                        placeholder="{{ _('Search') }}..."
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        id="collapsePC"
                        class="panel-collapse collapse show"
                        role="tabpanel"
                        aria-labelledby="headingPC"
                    >
                        {{ macros.alert_message("alert-msg-db") }}
                        <div class="table-responsive">
                            <table id="tblProcConfig" class="table table-bordered table-main table-hover-light">
                                <thead>
                                    <tr>
                                        <th class="col-number">{{ _("No.") }}</th>
                                        <th scope="col" class="text-center th-md">{{ _("Process Name") }}</th>
                                        <th scope="col" class="text-center th-md">{{ _("Data Source Name") }}</th>
                                        <th class="text-center th-md" scope="col">{{ _("Table Name") }}</th>
                                        <th class="text-center button-column" scope="col"></th>
                                        <th class="text-center" scope="col">{{ _("Comment") }}</th>
                                        <th class="text-center w-auto" scope="col">{{ _("Status") }}</th>
                                        <th class="text-center col-btn button-column" scope="col">
                                            <!-- <i class="fas fa-filter icon-secondary"
                                        style="color:#449fff;cursor:pointer;"
                                        onclick="showFilter('tblProcConfig', true)"></i> -->
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proc_info in procs %}
                                        <tr
                                            name="procInfo"
                                            id="proc_{{ proc_info.id }}"
                                            data-ds-id="{{ proc_info.data_source.id }}"
                                            data-proc-id="{{ proc_info.id }}"
                                            data-proc-parent-id="{{ proc_info.parent_id or "" }}"
                                            data-test-id="{{ proc_info.shown_name }}"
                                        >
                                            <td class="col-number">{{ loop.index }}</td>
                                            <td>
                                                <input
                                                    data-name-en="{{ proc_info.name_en }}"
                                                    data-name-jp="{{ proc_info.name_jp or '' }}"
                                                    data-name-local="{{ proc_info.name_local or '' }}"
                                                    name="processName"
                                                    class="form-control"
                                                    type="text"
                                                    value="{{ proc_info.shown_name }}"
                                                    disabled
                                                    data-order
                                                />
                                            </td>
                                            <td class="text-center">
                                                <input
                                                    name="databaseName"
                                                    class="form-control"
                                                    type="text"
                                                    value="{{ proc_info.data_source.name or '' }}"
                                                    disabled
                                                />
                                            </td>
                                            <td>
                                                {% if (proc_info.data_source.type not in ['CSV', 'V2']) %}
                                                    <input
                                                        class="form-control"
                                                        type="text"
                                                        name="tableName"
                                                        value="{{ proc_info.table_name or '' }}"
                                                        disabled
                                                    />
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <button
                                                    class="btn btn-secondary icon-btn"
                                                    type="button"
                                                    onclick="showProcSettingModal(this);"
                                                    title=""
                                                >
                                                    <i class="fas fa-edit icon-secondary"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <textarea
                                                    name="comment"
                                                    class="form-control form-data"
                                                    rows="1"
                                                    value="{{ proc_info.comment or '' }}"
                                                    disabled
                                                >
{{ proc_info.comment or '' }}</textarea
                                                >
                                            </td>
                                            <td class="process-status" id="jobStatus-{{ proc_info.id }}"></td>
                                            <td class="text-center">
                                                <button
                                                    onclick="deleteProcess(this);"
                                                    type="button"
                                                    class="btn btn-secondary icon-btn"
                                                >
                                                    <i class="fas fa-trash-alt icon-secondary"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="padding-top: 5px;">
                            <div class="col-2">
                                <button class="btn btn-success icon-btn" onclick="addProcToTable();" type="button">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include "proc_config_modals.html" %}
        {{ macros.failed_cast_data_modal() }}
    </div>
</div>
{% block js %}
    <script src="{{ url_for('setting_module.static', filename = 'js/process_config_section.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/failed_cast_data_modal.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/proc_config_modals.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/parse_data_utils.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/proc_config_date_time_format.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/function_config_modals.js') }}"></script>
    <script src="{{ url_for('setting_module.static', filename = 'js/main_serial_function_column.js') }}"></script>
    <!-- prettier-ignore-start -->
    <script>
        let cfgDS = {{ all_datasource|safe }};
        /**
         * A list of dictionary that contains all master function information
         * @type {Array<{
         *     coefs: string[], // defined kind of parameters of function
         *     required_coefs: string[], // function requried parameters
         *     optional_coefs: string[], // function optional parameters
         *     function_name_en: string, // function name by english
         *     function_name_jp: string, // function name by japanese
         *     description_en: string, // function description by english
         *     description_jp: string, // function description by japanese
         *     function_type: string, // function name
         *     id: number, // id of master function
         *     vars: string[], // defined kind of vars
         *     x_types: string[], // allowed varX's data types
         *     y_types: string[], // allowed varY's data types
         *     show_serial: boolean, // whether to show serial or not
         *     a: string, // a argument of function
         *     b: string, // b argument of function
         *     c: string, // c argument of function
         *     n: string, // n argument of function
         *     k: string, // k argument of function
         *     s: string, // s argument of function
         *     t: string, // t argument of function
         * }>} - alist of dictionary
         */
        const allMasterFunction = {{ all_function|safe }};
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}
