.grouplist-checkbox-with-search {
    max-height: 150px;
    overflow: auto;
}

.grouplist-checkbox-with-search.disable-max-height {
    max-height: unset;
}

.form-group .list-group-item {
    padding: 1px 1rem;
    font-size: 14px;
    border-left: none;
    border-right: none;
}

.shorten-name {
    white-space: nowrap;
    display: inline-block;
    /*max-width: 13vw;*/
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.fit-item {
    max-width: 55px;
}

.objective-item {
    max-width: 80px !important;
}

.floating-dropdown {
    height: 50vh;
    position: absolute;
    z-index: 100;
    /*min-width: 24.5vw;*/
    border: 1px solid #375a7f;
    background-color: #333;
}

#cond-proc-row h5,
h6 {
    margin-bottom: 0;
}

.end-proc,
.cond-proc {
    min-width: 250px;
}

.card .end-proc,
.card .cond-proc {
    padding: 1rem !important;
    border: 1px solid #444;
    position: relative;
}

.card .end-proc .list-item,
.card .cond-proc .list-item {
    margin-bottom: 0px !important;
    margin-top: 3px;
}

.close-icon {
    position: absolute;
    top: -2px;
    right: 15px;
    width: 12px;
    height: 12px;
}

.close-icon svg {
    width: 12px;
    height: 12px;
}

/* Tooltip CSS */
.tooltip-parent .tooltip-content {
    visibility: hidden;
    width: 150px;
    background-color: rgba(8, 8, 8, 0.8);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #444444;
    padding: 5px;
    margin: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Position the tooltip */
    position: absolute;
    z-index: 9999;
}

.tooltip-parent:hover .tooltip-content {
    visibility: visible;
}

.tooltip-parent-lg .tooltip-content-lg {
    visibility: hidden;
    background-color: rgba(8, 8, 8, 0.8);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #444444;
    padding: 5px;
    margin: -8vh 0.5rem 0 0.5rem;
    word-wrap: break-word;
    hyphens: auto;

    /* Position the tooltip */
    position: absolute;
    z-index: 9999;
}

.tooltip-parent-lg:hover .tooltip-content-lg {
    visibility: visible;
}

/* End tooltip CSS */

/* limit */
.num-sensor-limit {
    display: grid;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 4px;
    width: 5vw;
    text-align: center;
}

.border-gray-curve {
    border: 1px solid #444;
    border-radius: 3px;
}

.level-select {
    min-width: unset;
    padding: 1px 3px;
    height: auto;
    width: 60px;
}

.level-select:disabled {
    width: 60px;
    min-width: 60px;
}

.level-select:focus {
    width: 60px;
    min-width: 60px;
}

.expand-arrow {
    position: relative;
    padding-bottom: 15px;
}

.expand-arrow .arrow {
    position: absolute;
    display: block;
    content: '';
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-left: 20px solid transparent;
    border-top: 10px solid #444;
    border-right: 20px solid transparent;
}

.plc-38 {
    padding-left: 35px;
}

.gray,
.gray + label,
.gray input,
.gray select,
.gray textarea {
    color: gray !important;
}

.title-col {
    color: white !important;
}

@media (max-width: 1590px) {
    .show-name-col {
        flex: 0 0 27%;
        max-width: 27%;
    }

    .show-name-col-header {
        flex: 0 0 54%;
        max-width: 54%;
    }

    .type-item {
        width: 50px;
    }
}

.small-col {
    width: 50px;
}

@media (max-width: 1200px) {
    .show-name-col-header {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .show-name-col {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .type-item {
        width: auto;
    }
}

@media (max-width: 990px) {
    .show-name-col {
        flex: 0 0 27%;
        max-width: 27%;
    }

    .show-name-col-header {
        flex: 0 0 54%;
        max-width: 54%;
    }

    .type-item {
        width: 45px;
    }
}

.custom-control-input:disabled ~ .custom-control-label::before {
    cursor: not-allowed !important;
    background-color: #444444;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink-animation 1s linear infinite;
}
