/* DATA FINDER CSS */
.data-finder {
    width: 1060px;
    /*max-width: 100%;*/
    background-color: #222222;
    height: auto;
    display: flex;
}

.data-finder-calendar {
    height: 310px;
    padding: 16px;
    width: 700px;
}

.data-finder-action {
    /*width: 360px;*/
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calender-box th,
.calender-box td {
    border: none;
}

.calender-box td.cell,
.calender-box div.cell {
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

.data-finder-action .form-group {
    display: flex;
    align-items: center;
}

.data-finder-action .form-group input {
    background-color: white;
    color: #222222;
}
.data-finder-action .action .action-offset {
    margin-bottom: 0px;
    width: 60px;
}

.data-finder-action .action {
    display: flex;
}

.data-finder-action .action .action-button {
    display: flex;
    margin-left: 1px;
}

.data-finder-action .action .action-button .action-button-group {
    width: 55px;
}

.data-finder-action
    .action
    .action-button
    .action-button-group:not(:last-child) {
    margin-right: 8px;
}

.month-calendar,
.week-calendar {
    display: flex;
}

.calender-box th,
.calender-box td {
    padding: 5px;
    text-align: center;
}

.calender-box td {
    cursor: pointer;
}

.calender-box .cell {
    position: relative;
}

.calender-box .cell:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.calender-box .cell.active:before {
    border: 1px solid #fff;
}

.calender-box .cell.in-range:before {
    border: 1px solid #fff;
}

.calender-box .cell:hover:before {
    border: 1px solid #fff;
}

.calender-box tr:last-child th {
    border-bottom: 1px solid white;
}

.calender-box .week,
.calender-box .year,
.calender-box .hour {
    border-right: 1px solid white;
}

.month-calendar .inactive,
.week-calendar .inactive {
    color: #6e6e6e;
}

.calendar-go-to {
    display: flex;
    width: 100%;
    padding: 4px 14px;
    justify-content: space-between;
}

.calendar-go-to button {
    background-color: transparent;
    border: none;
}

.calendar-go-to button:disabled svg {
    color: #444444;
}

.calendar-go-to .arrow,
.year-calendar-go-to .arrow {
    font-size: 18px;
    color: #cccccc;
}

.calendar-go-to span,
.year-calendar-go-to span {
    display: inline-block;
    cursor: pointer;
}

.year-calendar-go-to span svg:hover,
.calendar-go-to button svg:hover {
    color: #959595;
    transition: color 0.2s;
}

.calendar-go-to button:focus {
    outline: none;
}

.year-calendar {
    padding-top: 8px;
}

.year-calendar table {
    max-width: calc(100% - 50px);
}

.calender-box td,
.calender-box th {
    min-width: 40px;
}

.year-calendar th,
.year-calendar td {
    min-width: 47.5px;
}

.year-calendar td {
    height: 40px;
}

.no-border {
    border: none !important;
}

.calender-box .year-calendar-go-to {
    position: relative;
    cursor: default;
}

.year-calendar-go-to .arrow-up {
    position: absolute;
    top: 40px;
    cursor: pointer;
}

.year-calendar-go-to .arrow-double-up {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.year-calendar-go-to .arrow-double-down {
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

.year-calendar-go-to .arrow-down {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.week-calendar .days th {
    padding: 3px;
}

.hour-cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

.hour-cells div {
    height: 8.2px;
}

.week-calendar .hour-cells-td {
    padding: 0px;
}

#weekTableTo,
#monthTableTo {
    margin-left: 25px;
}

.data-finder-hover {
    width: auto;
    height: auto;
    background-color: #000000ab;
    color: white;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-radius: 3px;
    padding: 5px;
    display: none;
    font-size: 14px;
}

.data-finder-hover:before {
    position: absolute;
    content: '';
    border-right: 10px solid #000000ab;
    border-bottom: 2px solid transparent;
    border-top: 10px solid transparent;
    left: -10px;
    top: 10px;
}

.data-finder-hover.week:before {
    border-right: 10px solid #000000ab;
    border-bottom: 10px solid transparent;
    border-top: 2px solid transparent;
    left: -10px;
    top: 3px;
}

.week-calendar .hour {
    font-size: 14px;
    padding: 0;
}

.week-calendar .hour span {
    display: inline-block;
    position: relative;
    bottom: -10px;
}

@media screen and (max-width: 1330px) {
    #data-finder-modal {
        flex-direction: column;
    }
    .week-calendar th,
    .week-calendar td {
        min-width: auto;
        width: 12%;
        text-align-last: center;
    }

    .month-calendar th,
    .month-calendar td {
        min-width: auto;
        width: 12%;
        text-align-last: center;
        padding: 0;
    }

    .month-calendar th {
        padding: 2px;
    }

    .year-calendar td {
        height: 34px;
    }

    .month-calendar td {
        height: 32px;
    }

    .year-calendar table {
        width: auto;
        max-width: 100%;
    }

    .month-calendar table,
    .week-calendar table {
        width: calc(50% - 14px);
    }

    .year-calendar th,
    .year-calendar td {
        width: 5%;
        min-width: auto;
    }

    #weekTableTo,
    #monthTableTo {
        margin-left: 10px;
    }

    .month-calendar,
    .week-calendar {
        display: flex;
        justify-content: space-between;
    }

    .data-finder-calendar {
        height: auto;
        width: auto;
    }

    .calendar-go-to {
        font-size: 14px;
    }

    .week-calendar .hour {
        padding-right: 5px;
        padding-left: 5px;
    }
    .data-finder-action {
        max-width: 360px;
        padding: 16px;
    }
}

.data-finder-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    cursor: pointer;
    color: #838383;
}

button.for-data-finder {
    min-width: 55px;
}

.single-calendar {
    width: 280px;
    height: auto;
    background-color: #222222;
    color: #ffff;
    padding: 10px 0px;
    border-radius: 3px;
    border: 1px solid #4444;
}

.single-calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 18px;
}

.single-calendar-title {
    font-weight: bold;
}

.single-calendar-action {
}

.single-calendar-action svg {
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
}

.single-calendar-action .fa-arrow-up {
    margin-right: 10px;
}

.single-calendar-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 5px;
}

.single-calendar-item {
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.single-calendar-body .in-week {
    background-color: #00aeff52;
}

.single-calendar-body .in-week.last-item {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.single-calendar-body .in-week.first-item {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.single-calendar-item.inactive {
    color: #6e6e6e;
}

.single-calendar-item:not(.date-title):hover {
    background-color: #00aeff;
    border-radius: 3px;
}

.single-calendar-item.date-title {
    font-weight: 500;
}

.single-calendar-bottom {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.single-calendar-bottom .action {
    cursor: pointer;
}

.single-date-calendar {
    width: 325px;
}

.single-date-calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 0 5px;
}
