.export-settings {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 14px 12.5px;
    .form-group {
        margin-bottom: 0;
    }
}

.export-metadata-section {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    grid-gap: 14px;
    border-right: solid 2px;
    border-right-color: #444444;
    .form-group {
        margin-bottom: 0;
    }
    padding-right: 12.5px;
}

.export-non-metadata-section {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 14px 25px;
    .form-group {
        margin-bottom: 0;
    }
}

.periodic-label {
    margin-bottom: 1rem;
}

.datetime-picker-start-period {
    width: 32%;
    min-width: 133px !important;
}

.btn-reset {
    background: transparent;
    color: #aaa;
    border: 1px solid #666;
}

.btn-reset:hover {
    color: #fff;
    border-color: #666;
    background: rgba(255, 255, 255, 0.05);
}

.export-col,
.export-header {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.export-col-no,
.export-col-delete {
    width: 50px !important;
    max-width: 50px !important;
}

.export-col-description,
.export-col-folder_path,
.export-col-main_process_name,
.export-col-parameters,
.export-col-title {
    width: 10vw !important;
    max-width: 10vw !important;
}

$table-row-height: 40px;
$table-head-col-height: 40px;
$table-filter-height: 40px;

.react-root .table-responsive {
    max-height: calc(#{$table-head-col-height} + #{$table-filter-height} + (#{$table-row-height} * 10));
    overflow-y: auto;
    position: relative;

    .icon-btn {
        width: 30px !important;
        height: 30px !important;
    }

    .export-cog-table {
        table-layout: fixed !important;
        border-collapse: separate;
        border-spacing: 0;

        thead {
            tr {
                th {
                    position: sticky !important;
                    background-color: #303030;
                    border-top-width: 0;
                    border-bottom-width: 0;
                    box-shadow:
                        inset 0 1px 0 #444,
                        inset 0 -1px 0 #444;
                    box-sizing: border-box;
                    white-space: nowrap;
                }

                &:nth-child(1) th {
                    height: $table-head-col-height !important;
                    top: 0;
                    z-index: 102;
                    padding: 4px 8px !important;
                }

                &:nth-child(2) th {
                    height: $table-filter-height !important;
                    top: $table-head-col-height;
                    z-index: 101;
                }
            }
        }

        tbody tr {
            height: $table-row-height !important;
            td {
                border-bottom: 1px solid #444;
                border-right: 1px solid #444;

                height: $table-row-height !important;
                padding: 4px 8px !important;
                box-sizing: border-box;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}
