.card {
    margin: 10px 0;
}

table.dataTable thead {
    background-color: #222222;
    color: white;
    text-align: center;
}

table.dataTable .even {
    background-color: #3f3f3f !important;
}

table.dataTable .odd {
    background-color: #303030 !important;
}

table.dataTable .odd:hover, table.dataTable .even:hover {
    background-color: rgba(0,0,0,0.075) !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

/* to fix header not align with body */
#tableViewData {
    min-width: 100%;
}

/*
 *  Scrollbar darkstyle
 */
.dataTables_scrollBody::-webkit-scrollbar-track,
.dataTables_scrollHead::-webkit-scrollbar-track,
#select2-tableSelection-results::-webkit-scrollbar-track,
#select2-sortSelection-results::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #444 !important;
}

.dataTables_scrollBody::-webkit-scrollbar,
.dataTables_scrollHead::-webkit-scrollbar,
#select2-tableSelection-results::-webkit-scrollbar,
#select2-sortSelection-results::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background-color: #444 !important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb,
.dataTables_scrollHead::-webkit-scrollbar-thumb,
#select2-tableSelection-results::-webkit-scrollbar-thumb,
#select2-sortSelection-results::-webkit-scrollbar-thumb {
    width: 100px !important;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    background-color: #222222 !important;
    border-radius: 25px;
}

.dataTables_scrollBody::-webkit-scrollbar-corner,
.dataTables_scrollHead::-webkit-scrollbar-corner {
    background-color: #444 !important;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

/* paging */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #222222 !important;
    border: none !important;
    color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #375a7f !important;
    border: none !important;
    color: #ffffff !important;
}

/* table length options */
.dataTables_length label {
    color: white;
}

.dataTables_length select {
    display: inline-block;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #222222;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.dataTables_length option:hover {
    background-color: #375a7f;
}

/* search box */
.dataTables_filter label {
    color: white;
}

.dataTables_filter input {
    display: inline-block;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #222222;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    color: #375a7f;
    font-weight: bold;
}

#tblViewerCard {
    display: none;
}

.select2-container {
    display: block;
}

.select2-dropdown {
    background-color: #222222;
    border: 1px solid #222;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5897fb;
}

.select2-container--default .select2-selection--single {
    background-color: #222222;
    border: 1px solid #222222;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    line-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 6px 3px 0 3px;
    margin-left: -1px;
    border-color: #ffffff transparent transparent transparent;
}

.select2-container .select2-selection--single {
    height: 35px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #5897fb;
    background-color: #303030;
    color: #ffffff;
}

.select2-selection__rendered{
    padding-left: 1rem !important;
}
select.col-md-5,
span.select2.select2-container.select2-container--default {
    max-width: 40vw;
    min-width: 40vw;
}