<div style="display: none;">
    <span id="i18nWarningTitle">{{ _("Warning") }}</span>
    <span id="i18nAbnormalGraphShow">{{ _('AbnormalGraphShowMsg') }}</span>
    <span id="i18nTraceResultLimited">{{ _("TraceResultLimited") }}</span>
    <span id="i18nLimitedHeatMap">{{ _("LimitedHeatMap") }}</span>
    <span id="i18nSQLLimit">{{ _("Because of the large number of selected records, graphs are displayed with limitation of number of records per one graph to 50,000.") }}</span>
    <span id="i18nThinDataShown">{{ _("Thin data shown") }}</span>
    <span id="i18nJobsStopped">{{ _("Jobs Stopped") }}</span>
    <span id="i18nJobStatusMsg">{{ _("Data Type Error Warning") }}</span>
    <span id="i18nImportEmptyFileMsg">{{ _("Import Empty File Warning") }}</span>
    <span id="i18nAutoUpdate">{{ _("Auto Update") }}</span>
    <span id="i18nExceptionEstimation">{{ _("Exception Estimation") }}</span>
    <span id="i18nDiv">{{ _("Div") }}</span>
    <span id="i18nInvalidObjectiveVar">{{ _("Objective variable is NOT selected.") }}</span>
    <span id="i18nColorExplanation">{{ _('Color explanation') }}</span>
    <span id="i18nChangeDivConfirmText">{{ _("Clear Div in Facet") }}</span>
    <span id="i18nColorWarningMessage">{{ _("SCP choose color variable warning message") }}</span>
    <span id="i18nAccept">{{ _("I Accept") }}</span>
    <span id="i18nDecline">{{ _("Decline") }}</span>

    <!-- summary tables -->
    <span id="i18PnProc">{{ _("Pn_proc") }}</span>
    <span id="i18PProc">{{ _("P_proc") }}</span>
    <span id="i18MaxValue">Max</span>
    <span id="i18MinValue">Min</span>
    <span id="i18Median">{{ _("MedianLabel") }}</span>
    <span id="i18None">{{ _("None") }}</span>
    <span id="i18Summary">{{ _("Summary") }}</span>
    <span id="i18Count">{{ _("Count") }}</span>
    <span id="i18BasicStatistics">{{ _("Basic statistics") }}</span>
    <span id="i18NonParametric">{{ _("Non parametric") }}</span>
    <span id="i18QualityOfData">{{ _("Quality of Data") }}</span>
    <span id="i18OutControlLine">{{ _("Out of Control Line") }}</span>
    <span id="i18OutActionLine">{{ _("Out of Action Line") }}</span>
    <span id="i18OverflowUpper">{{ _("Overflow Upper") }}</span>
    <span id="i18OverflowLower">{{ _("Overflow Lower") }}</span>

    <!-- summary hovers -->
    <span id="i18nHoverNTotal">{{ _("NTotal") }}</span>
    <span id="i18nHoverOutCL">{{ _("OutCL") }}</span>
    <span id="i18nHoverOutAL">{{ _("OutAL") }}</span>
    <span id="i18nHoverPNA">{{ _("PNA") }}</span>
    <span id="i18nHoverPNaN">{{ _("PNaN") }}</span>
    <span id="i18nHoverPInfPlus">{{ _("PInfPlus") }}</span>
    <span id="i18nHoverPInfMinus">{{ _("PInfMinus") }}</span>
    <span id="i18nHoverPTotal">{{ _("PTotal") }}</span>
    <span id="i18nHoverN">{{ _("N") }}</span>
    <span id="i18nHoverMedian">{{ _("HoverMedian") }}</span>
    <span id="i18nHoverP95">{{ _("P95") }}</span>
    <span id="i18nHoverP75Q3">{{ _("P75 Q3") }}</span>
    <span id="i18nHoverP25Q1">{{ _("P25 Q1") }}</span>
    <span id="i18nHoverP5">{{ _("P5") }}</span>
    <span id="i18nHoverIQR">{{ _("IQR") }}</span>
    <span id="i18nHoverNIQR">{{ _("NIQR") }}</span>
    <span id="i18nHoverMode">{{ _("Mode") }}</span>
    <span id="i18nHoverNoLinked">{{ _("Ratio of availability of data link") }}</span>

    <!-- trace_data page-->
    <span id="i18nLCL">{{ _("Lower threshold") }}</span>
    <span id="i18nUCL">{{ _("Upper threshold") }}</span>
    <span id="i18nAllSelection">{{ _("All line") }}</span>
    <span id="i18nNoFilter">{{ _("No filter") }}</span>
    <span id="i18nHideOutliers">{{ _("Hide outliers") }}</span>
    <span id="i18nShowOutliers">{{ _("Show outliers") }}</span>
    <span id="i18nMarkOutlier">{{ _("Check as an outlier") }}</span>
    <span id="i18nShowHistogram">{{ _("List of Histograms appear") }}</span>
    <span id="i18nMachineNo">{{ _("Machine No") }}</span>
    <span id="i18nPartNo">{{ _("Part No") }}</span>
    <span id="i18nSearching">{{ _("Search") }}</span>
    <span id="i18nAll">{{ _("All") }}</span>
    <span id="i18nTotal">{{ _("Total") }}</span>
    <span id="i18nAverage">Average</span>
    <span id="i18nFrequence">{{ _("Frequence") }}</span>
    <span id="i18nLastUpdateTime">{{ _("Last update time") }}</span>
    <span id="i18nValue">{{ _("Value") }}</span>
    <span id="i18nMedianVal">{{ _("MedianVal") }}</span>
    <span id="i18nOutlierVal">{{ _("OutlierVal") }}</span>
    <span id="i18nMaxVal">{{ _("MaxVal") }}</span>
    <span id="i18nMinVal">{{ _("MinVal") }}</span>
    <span id="i18nCustom">{{ _("Custom") }}</span>
    <span id="i18nToday">{{ _("Today") }}</span>
    <span id="i18nYesterday">{{ _("Yesterday") }}</span>
    <span id="i18nLast7Days">{{ _("Last 7 Days") }}</span>
    <span id="i18nLast30Days">{{ _("Last 30 Days") }}</span>
    <span id="i18nThisMonth">{{ _("This Month") }}</span>
    <span id="i18nMinus1Month">{{ _("-1 Month") }}</span>
    <span id="i18nPlus3Months">{{ _("+3 Months") }}</span>
    <span id="i18nApply">{{ _("Apply") }}</span>
    <span id="i18nWeekNo">{{ _("Week No") }}</span>
    <span id="i18nMonthNames">{{ _("monthNames") }}</span>
    <span id="i18nDayNames">{{ _("dayNames") }}</span>
    <span id="i18nCancel">{{ _("Cancel") }}</span>
    <span id="i18nFrom">{{ _("From") }}</span>
    <span id="i18nTo">{{ _("To") }}</span>
    <span id="i18nDayOf7DaysAgo">{{ _("DayOf7DaysAgo") }}</span>
    <span id="i18nDayOf30DaysAgo">{{ _("DayOf30DaysAgo") }}</span>
    <span id="i18nFirstDayOfThisMonth">{{ _("FirstDayOfThisMonth") }}</span>
    <span id="i18nLastDayOfThisMonth">{{ _("LastDayOfThisMonth") }}</span>
    <span id="i18nMinus3Months">{{ _("-3 Months") }}</span>
    <span id="i18nCount">{{ _("Number of Data") }}</span>
    <span id="i18nStartTime">{{ _("Start Time") }}</span>
    <span id="i18nEndTime">{{ _("End Time") }}</span>
    <span id="i18nHideNarrowBox">{{ _("Category value with narrow width of box is not shown.") }}</span>
    <span id="i18nEdgeLinkTitlePred">{{ _("Predicted number of records to be linked") }}</span>
    <span id="i18nEdgeLinkTitleReal">{{ _("Number of records to be linked") }}</span>
    <span id="i18nNodeLinkTitlePred">{{ _("Number of samples") }}</span>
    <span id="i18nNodeLinkTitleReal">{{ _("Number of total records") }}</span>
    <span id="i18nPriority">{{ _("Priority PRIORITY") }}</span>
    <span id="i18nAscending">{{ _("Ascending") }}</span>
    <span id="i18nDescending">{{ _("Descending") }}</span>
    <span id="i18nNonNARatio">{{ _("Non-NA ratio") }}</span>
    <span id="i18nVariable">{{ _("Variable") }}</span>
    <span id="i18nAvailableRatio">{{ _("Available ratio") }}</span>
    <span id="i18nNumberDataNotLinked">{{ _("Number_of_data_that_are_not_linked") }}</span>
    <span id="i18nTimestamp">{{ _("Timestamp") }}</span>
    <span id="i18nIndex">{{ _("Index") }}</span>
    <span id="i18nCannotBeDisplayed">{{ _("Value cannot be displayed") }}</span>
    <span id="i18nStartedCSVDownload">{{ _("CSV file output has started. Please wait until the file is downloaded.") }}</span>
    <span id="i18nStartedTSVDownload">{{ _("TSV file output has started. Please wait until the file is downloaded.") }}</span>

    <!-- list_of_histogram -->
    <span id="registerOutlier">{{ _('Register as an outlier') }}</span>
    <span id="removeOutlier">{{ _('Remove outlier flag') }}</span>
    <span id="registeredOutlier">{{ _('Registered as an outlier') }}</span>
    <span id="removedOutlier">{{ _('Removed outlier flag') }}</span>
    <span id="i18nAbnormalPoint">{{ _('Abnormal data point') }}</span>

    <!-- categorical_plot -->
    <span id="i18nFrequency">{{ _('Frequency') }}</span>
    <span id="i18nRecent">{{ _('Latest') }}</span>
    <span id="i18nDateRange">{{ _('Date range') }}</span>
    <span id="i18nHour">{{ _('hour') }}</span>
    <span id="i18nMinute">{{ _('minute') }}</span>
    <span id="i18nDay">{{ _('day') }}</span>
    <span id="i18nWeek">{{ _('week') }}</span>
    <span id="i18nSummaryDistribution">{{ _('Summary of Distribution') }}</span>
    <span id="i18nNNumber">{{ _('N Number') }}</span>
    <span id="i18nMedian">{{ _('MedianLabel') }}</span>
    <span id="i18nViewer">{{ _("Viewer") }}</span>
    <span id="i18nTooManyValue">{{ _("Too many value selected") }}</span>


    <!-- ridgeline_plot -->
    <span id="i18nInvalidInterval">{{ _('Invalid Cyclic Term Interval') }}</span>
    <span id="i18nInvalidWindowLength">{{ _('Invalid Cyclic Term Window Length') }}</span>
    <span id="i18nInvalidNumRL">{{ _('Invalid Cyclic Term Number of Ridge Lines') }}</span>
    <span id="i18nStartDateTime">{{ _('Start data & time') }}</span>
    <span id="i18nStartDateTimeHover">{{ _('Start data & time Hover') }}</span>
    <span id="i18nInterval">{{ _('Interval') }} [hour]</span>
    <span id="i18nIntervalHover">{{ _('Interval Hover') }}</span>
    <span id="i18nWindowLength">{{ _('Window length') }} [hour]</span>
    <span id="i18nWindowLengthHover">{{ _('Window length Hover') }}</span>
    <span id="i18nNumRL">{{ _('Division number') }}</span>
    <span id="i18nNumRLHover">{{ _('Division number Hover') }}</span>
    <span id="i18nFewDataPointInRLP">{{ _('Few data point in a category in RLP') }}</span>
    <span id="i18nChangedDivisionNumberToMax">{{ _('Changed to the max number division automatically.') }}</span>

    <!-- scatter_plot -->
    <span id="i18nWarning">{{ _("Warning") }}</span>
    <span id="i18nGAUnable">{{ _("The Application do not connect internet and unable to upload usage.") }}</span>
    <span id="i18nGACheckConnect">{{ _("Please check the settings of network connection.") }}</span>
    <span id="i18nMSPCorr">{{ _("MSP Corr") }}</span>
    <span id="i18nPartialCorr">{{ _("Partial Corr") }}</span>
    <span id="i18nHighSpeed">{{ _("Since it is visualized in high-speed mode, the data points are omitted.") }}</span>
    <span id="i18nHideContourMSG">{{ _("MSP Hide Contour MSG") }}</span>

    <!-- PCA -->
    <span id="i18nError">{{ _("ERROR") }}</span>
    <span id="i18nE01AllNA">{{ _("AllNA") }}</span>
    <span id="i18nE02NonNumeric">{{ _("NoneNumeric") }}</span>
    <span id="i18nE03ZeroVariance">{{ _("ZeroVariance") }}</span>
    <span id="i18nW01IntegerData">{{ _("IntegerData") }}</span>
    <span id="i18nConfirmQuestion">{{ _("ConfirmQuestion") }}</span>
    <span id="i18nProcessName">{{ _("Process Name") }}</span>
    <span id="i18nProcessNameWithoutName">{{ _("Process name") }}</span>
    <span id="i18nShownName">{{ _("Shown Name") }}</span>
    <span id="i18nNotEnoughSensor">{{ _("2 or more variables should be selected for PCA") }}</span>
    <span id="i18nDeleteNA">{{ _("PCA delete NA") }}</span>
    <span id="i18nTrainingData">{{ _("Training data") }}</span>
    <span id="i18nTestingData">{{ _("Testing data") }}</span>

    <!-- CSV data type -->
    <span id="i18nInteger">{{ _("Integer") }}</span>
    <span id="i18nFloat">{{ _("Real(Float)") }}</span>
    <span id="i18nDateTime">{{ _("Datetime") }}</span>
    <span id="i18nString">{{ _("String") }}</span>
    <span id="i18nDirExist">{{ _("Exists") }}</span>
    <span id="i18nDirNotExist">{{ _("Folder does not exist") }}</span>
    <span id="i18nFileExist">{{ _("Exists") }}</span>
    <span id="i18nFileNotExist">{{ _("File does not exist") }}</span>
    <span id="i18nSubFolderWrongFormat">{{ _('Please name the folder in which csv/tsv files are saved as "YYYYMMDD"') }}</span>
    <span id="i18nDbNameEmpty">{{ _("Please fill database name") }}</span>
    <span id="i18nDbSourceEmpty">{{ _("Please fill data source name") }}</span>
    <span id="i18nDbSourceExist">{{ _("Please fill another data source name") }}</span>
    <span id="i18nSetting">{{ _('Config') }}</span>
    <span id="i18nDatabaseName">{{ _('Database Name') }}</span>
    <span id="i18nDataSourceName">{{ _("Data Source Name") }}</span>
    <span id="i18nComment">{{ _('Comment') }}</span>
    <span id="i18nInvalidData">{{ _('Invalid data in datetime column') }}</span>
    <span id="i18nReferDataFile">{{ _('Refer data file') }}</span>
    <span id="i18nStartImport">{{ _('Importing data was started.') }}</span>
    <span id="i18nCheckErrorJob">{{ _('CheckErrorJob') }}</span>
    <span id="i18nProceedToProcessConfig">{{ _('ProceedToProcessConfig') }}</span>
    <span id="i18nTooManyString">{{ _('string columns are detected. There is a possibility that numeric columns are mis-estimated. Please check data type.') }}</span>
    <span id="i18nCsvTemplateError">{{ _('CSV Template is error when import') }}</span>

    <!-- DB config -->
    <span id="i18nWarnEmptyType">{{ _("Columns whose datatypes are not specified will not be imported.") }}</span>
    <span id="i18nWarnManyGetdate">{{ _("'{col}' is used for x-axis on charts.") }}</span>
    <span id="i18nErrorNoGetdate">{{ _("At least one datetime column is required.") }}</span>
    <span id="i18nConfirmMsg">{{ _("Continue?") }}</span>
    <span id="i18nWarnDeleteCSV">{{ _("Imported data will be deleted. (Data will not be deleted until register button is clicked)") }}</span>
    <span id="i18nMISSING_ATTRS">{{ _("Element data is missing required attribute.") }}</span>
    <span id="i18nMISSING_VALUE">{{ _("Element data is missing required attribute value.") }}</span>

    <!-- Process config -->
    <span id="i18nProcName">{{ _("Process Name") }}</span>
    <span id="i18nDBName">{{ _("Data Source Name") }}</span>
    <span id="i18nTableName">{{ _("Table Name") }}</span>
    <span id="i18nStatusDone">{{ _('Finished Importing') }}</span>
    <span id="i18nStatusImporting">{{ _('Importing') }}</span>
    <span id="i18nStatusFailed">{{ _('Failed Importing') }}</span>
    <span id="i18nStatusPending">{{ _('Importing') }}</span>
    <span id="i18nAlreadyExist">{{ _("Already registered") }}</span>
    <span id="i18nProcNameBlank">{{ _("Fill in process name") }}</span>
    <span id="i18nEmptyShownName">{{ _("Empty shown name") }}</span>
    <span id="i18nUseEnglishName">{{ _("Use English name") }}</span>
    <span id="i18nValidLike">{{ _("Valid-like") }}</span>
    <span id="i18nReachFailLimit">{{ _("The application could not read file and preview data.") }}</span>

    <!-- Trace config -->
    <span id="i18nAllDigits">{{ _("All digits") }}</span>
    <span id="i18nPartialMatch">{{ _("Partial match") }}</span>
    <span id="i18nThCharacter">{{ _("th character") }}</span>
    <span id="i18nCharacterLengthDiff">{{ _("Character length for tracing is different") }}</span>
    <span id="i18nInvalidDigit">{{ _("Invalid digit selection") }}</span>
    <span id="i18nEdit">{{ _("Edit") }}</span>
    <span id="i18nDelete">{{ _("Delete") }}</span>
    <span id="i18nBack">{{ _("Back") }}</span>
    <span id="i18nAddNode">{{ _("Add Node") }}</span>
    <span id="i18nAddEdge">{{ _("Add Edge") }}</span>
    <span id="i18nEditNode">{{ _("Edit Node") }}</span>
    <span id="i18nEditEdge">{{ _("Edit Edge") }}</span>
    <span id="i18nAddDesc">{{ _("Add Description") }}</span>
    <span id="i18nEdgeDesc">{{ _("Edge Description") }}</span>
    <span id="i18nEditEdgeDesc">{{ _("Edit Edge Description") }}</span>
    <span id="i18nCreateEdgeErr">{{ _("Create Edge Error") }}</span>
    <span id="i18nDeleteClusterErr">{{ _("Delete Cluster Error") }}</span>
    <span id="i18nEditClusterErr">{{ _("Edit Cluster Error") }}</span>
    <span id="i18nJobList">{{ _("Job list") }}</span>
    <span id="i18nStartLink">{{ _('Linking data was started.') }}</span>
    <span id="i18nCheckProgress">{{ _('You can check the progress from the link below.') }}</span>
    <span id="i18nNoColumn">{{ _('Please choose at least one column') }}</span>

    <!-- filter/visualization -->
    <span id="i18nNAColumn">{{ _("N/A") }}</span>
    <span id="i18nLineRequired">{{ _("Line is required to save!") }}</span>
    <span id="i18nIsRequired">{{ _("Input is required, please fill them try again!") }}</span>
    <span id="i18nIsDuplicated">{{ _("Master name or value is duplicate!") }}</span>
    <span id="i18nSaved">{{ _("Saved") }}</span>
    <span id="i18nSaveFail">{{ _("Failed to save") }}</span>
    <span id="requireValue">{{ _('Visualization value is required') }}</span>
    <span id="requireSetting">{{ _('At least one setting value is required') }}</span>
    <span id="duplicatedSetting">{{ _('Setting is duplicated') }}</span>
    <span id="saveOK">{{ _('Save successfully') }}</span>
    <span id="saveFailed">{{ _('Failed to save') }}</span>
    <span id="uclLt">{{ _("Upper threshold") }} < {{ _("Lower threshold") }}</span>
    <span id="prcUCLLt">{{ _("Upper process threshold") }} < {{ _("Lower process threshold") }}</span>
    <span id="ymaxLt">{{ _("y-axes range: max") }} < {{ _("y-axes range: min") }}</span>
    <span id="i18nFilterCfgLabel">{{ _("From Filter Config") }}</span>
    <span id="i18nShowAllCfglabel">{{ _("Show all") }}</span>
    <span id="i18nActTimeEmpty">{{ _("Data have to be input in Act from or Act to.") }}</span>
    <span id="i18nActFromGreater">{{ _("Action from") }} > {{ _("Action to") }}</span>
    <span id="partNoDefaultName">{{ _("Default") }} </span>

    <span id="filterRequireTarget">{{ _('Target column is required') }}</span>
    <span id="filterRequireLine">{{ _('Line is required') }}</span>
    <span id="filterRequireFilter">{{ _('Filter name is required') }}</span>
    <span id="filterRequireCondition">{{ _('Condition is required') }}</span>
    <span id="filterDupFilter">{{ _('Duplicated filter name') }}</span>
    <span id="filterDupCondition">{{ _('Duplicated condition') }}</span>
    <span id="filterMatches">{{ _("Exact match") }}</span>
    <span id="filterEndsWith">{{ _("Ends With") }}</span>
    <span id="filterStartsWith">{{ _("Starts With") }}</span>
    <span id="filterContains">{{ _("Contains") }} </span>
    <span id="filterRegex">{{ _("Regular expressions") }}</span>
    <span id="filterSubstring">{{ _("Partial match") }}</span>
    <span id="filterOrSearch">{{ _("OR search") }}</span>
    <span id="filterAndSearch">{{ _("AND search") }}</span>
    <span id="filterSettingMode">{{ _("Setting Mode") }}</span>
    <span id="filterEditMode">{{ _("Edit Mode") }}</span>

    <!-- master_config -->
    <span id="requireValue">{{ _('Visualization value is required') }}</span>
    <span id="requireSetting">{{ _('At least one setting value is required') }}</span>
    <span id="duplicatedSetting">{{ _('Setting is duplicated') }}</span>
    <span id="saveOK">{{ _('Save successfully') }}</span>
    <span id="saveFailed">{{ _('Failed to save') }}</span>
    <span id="uclLt">{{ _("Upper threshold") }} < {{ _("Lower threshold") }}</span>
    <span id="prcUCLLt">{{ _("Upper process threshold") }} < {{ _("Lower process threshold") }}</span>
    <span id="ymaxLt">{{ _("y-axes range: max") }} < {{ _("y-axes range: min") }}</span>
    <span id="i18nType">{{ _("Type") }}</span>
    <span id="i18nName">{{ _("Name") }}</span>
    <span id="i18nPrcMin">{{ _("Lower process threshold") }}</span>
    <span id="i18nPrcMax">{{ _("Upper process threshold") }}</span>
    <span id="i18nValidFrom">{{ _("Valid from") }}</span>
    <span id="i18nValidTo">{{ _("Valid to") }}</span>

    <!-- background_jobs -->
    <span id="i18nJobId">{{ _('Job ID') }}</span>
    <span id="i18nDatabase">{{ _('Database/CSV ') }}</span>
    <span id="i18nStarted">{{ _('Started') }}</span>
    <span id="i18nDuration">{{ _('Duration') }} (sec)</span>
    <span id="i18nProgress">{{ _('Succeed/Total') }} (%)</span>
    <span id="i18nStatus">{{ _('Status') }}</span>
    <span id="i18nProcess">{{ _('Process ') }}</span>
    <span id="i18nDetail">{{ _('Detail') }}</span>
    <span id="i18nGEN_GLOBAL">{{ _('GEN_GLOBAL') }}</span>
    <span id="i18nDEL_PROCESS">{{ _('DEL_PROCESS') }}</span>
    <span id="i18nFACTORY_IMPORT">{{ _('FACTORY_IMPORT') }}</span>
    <span id="i18nFACTORY_PAST_IMPORT">{{ _('FACTORY_PAST_IMPORT') }}</span>
    <span id="i18nCSV_IMPORT">{{ _('CSV_IMPORT') }}</span>
    <span id="i18nCLEAN_DATA">{{ _('CLEAN_DATA') }}</span>

    <!-- heatmap -->
    <span id="i18nTooManySensors">{{ _('Too Many Sensors') }}</span>
    <span id="i18nReal">{{ _('Real(Float)') }}</span>
    <span id="i18nCat">{{ _('Cat.') }}</span>
    <span id="i18nMax">{{ _('CHMMax') }}</span>
    <span id="i18nMean">{{ _('CHMMean') }}</span>
    <span id="i18nMin">{{ _('CHMMin') }}</span>
    <span id="i18nStd">{{ _('σ') }}</span>
    <span id="i18nRange">{{ _('CHMRange') }}</span>
    <span id="i18nMedian">{{ _('CHMMedian') }}</span>
    <span id="i18nCount">{{ _('CHMCount') }}</span>
    <span id="i18nCountPerHour">{{ _('CHMCountPerHour') }}</span>
    <span id="i18nCountPerMin">{{ _('CHMCountPerMin') }}</span>
    <span id="i18nTimePerCount">{{ _('CHMTimePerCount') }}</span>

    <span id="i18nRemoveRealInParcats">{{ _('Real numbers have been removed because real numbers cannot be entered in parallel coordination for categorical data.') }}</span>
    <span id="i18nColsDuplicated">{{ _('A same column name was found in the English name column and was handled automatically. Please check the column names.') }}</span>
    <span id="i18nSetThreshold">{{ _('Set threshold') }}</span>
    <span id="i18nCatExp">{{ _('Facet') }}</span>
    <span id="i18nCatExpExplain">{{ _('Category expansion is performed to divide the graph using the data of the selected item.') }}</span>

    <span id="i18nAllReal">{{ _('All Real(Float) from here') }}</span>
    <span id="i18nAllInt">{{ _('All Integer from here') }}</span>
    <span id="i18nAllStr">{{ _('All String from here') }}</span>

    <span id="i18nSerial">{{ _('Serial') }}</span>
    <span id="i18nCanChangeScale">{{ _('You can adjust the scale of the graph by right clicking on the graph.') }}</span>

    <span id="i18nSettingScale">{{ _('Setting scale') }}</span>
    <span id="i18nCommonScale">{{ _('Common scale') }}</span>
    <span id="i18nThresholdLine">{{ _('Threshold line') }}</span>
    <span id="i18nAutoScale">{{ _('Auto scale') }}</span>
    <span id="i18nAutoRange">{{ _('Auto range') }}</span>
    <span id="i18nFullRange">{{ _('Full range') }}</span>
    <span id="i18nGraphVerticalRange"> {{ _('Range of Y axis') }}</span>

    <span id="i18nStartPoint">{{ _('Start point') }}</span>
    <span id="i18nFilter">{{ _('Filter') }}</span>
    <span id="i18nDateRange">{{ _('Date range') }}</span>
    <span id="i18nLine">{{ _('Line') }}</span>
    <span id="i18nMach">{{ _('Machine') }}</span>

    <span id="i18nUse">{{ _('Use') }}</span>
    <span id="i18nLoad">{{ _('Load') }}</span>
    <span id="i18nEdit">{{ _('Edit') }}</span>
    <span id="i18nDelete">{{ _('Delete') }}</span>

    <span id="i18nSensorLimitationMSP">{{ _('Available to select maximumn 4 sensors at time. Please check and retry again.') }}</span>
    <span id="i18nFileSizeMsg">{{ _('The maximum file size is 10MB. Please reduce the file size and retry again.') }}</span>
    <span id="i18nShared">{{ _('Shared') }}</span>
    <span id="i18nPrivate">{{ _('Private') }}</span>

    <span id="i18nDatetimeFrom">{{ _('From') }}</span>
    <span id="i18nDatetimeTo">{{ _('To') }}</span>
    <span id="i18nDatetimeRange">{{ _('Datetime Range') }}</span>

    <span id="i18nRequestTimeout">{{ _('The processing was interrupted due to the large amount of data and the processing time. Please review the date and time settings, etc., and then display the graph again.') }}</span>
    <span id="i18nOpen">{{ _('Open') }}</span>
    <span id="i18nWithOutlier">{{ _('With outlier') }}</span>
    <span id="i18nWOOutlier">{{ _('Without outlier') }}</span>

    <span id="i18nLabelSetting">{{ _('Label Setting') }}</span>
    <span id="i18nErrorSameTitleSetting">{{ _('Since there is the same title setting, please change the title.') }}</span>
    <span id="i18nSensorTypeExplain">{{ _('Sensor Type Explanation') }}</span>
    <span id="i18nFloatTypeExplain">{{ _('Float') }}</span>
    <span id="i18nCTTypeExplain">{{ _('Cycle time') }}</span>
    <span id="i18nCatLimitedMsg">{{ _('Category limited MSG') }}</span>
    <span id="i18nObjective">{{ _('Objective') }}</span>
    <span id="i18nObjectiveExplain">{{ _('Objective Explain') }}</span>
    <span id="i18nOverUniqueLimitLabel">{{ _('Not use') }}</span>
    <span id="i18nOverUniqueLimitWarning">{{ _('Not use warning') }}</span>
    <span id="i18nOverUniqueLimitRequest">{{ _('Not use request') }}</span>

    <!--  Common  -->
    <span id="i18nCopied">{{ _('Copied') }}</span>
    <span id="i18nPasted">{{ _('Pasted') }}</span>
    <span id="i18nLabelVariableDescription">{{_('Label Variable Description')}}</span>
    <span id="i18nSelectCatExpBox">{{ _('Please select one Facet at lease for Stratified by variables mode!') }}</span>
    <span id="i18nLimitDisplayedGraphs">{{_('Limit number of graphs')}}</span>
    <span id="i18nLimitDisplayedGraphsInOneTab">{{_('Limit number of graphs displayed in one tab')}}</span>
    <span id="i18nAvailableSelectMinMaxSensor">{{_('Available to select min and max sensors at time')}}</span>
    <span id="i18nAvailableSelectMaxSensor">{{_('Available to select max sensors at time')}}</span>
    <!-- SCP -->
    <span id="i18nColorBarTime">{{ _('Time') }}</span>
    <span id="i18nColorBarElapsedTime">{{ _('Elapsed Time') }}</span>
    <span id="i18nReduceViolinNumberMessage">{{ _('Reduce number of violin messenger') }}</span>
    <span id="i18nLimitPerGraphMessage">{{ _('Reduce number of data per graph messenger') }}</span>
    <span id="i18nDivByNumberAndLatest">{{_('SCP choose latest in case division by data number')}}</span>

    <!-- Full disk check -->
    <span id="i18nWarningFullDiskMsg">{{ _('Warning Full Disk') }}</span>
    <span id="i18nErrorFullDiskMsg">{{ _('Error Full Disk') }}</span>

</div>
