{% extends "base.html" %}

{% block header %}
    {{ macros.page_title(key='SkD', title=_('Sankey Diagram'), hint=_('Identify and visualize directly/indirectly correlated variables of objective(s)'), hasAction=true) }}
{% endblock %}

{% block midbody %}
    <div class="card">
        <form id="traceDataForm" class="GUIForm">
            {{ macros.end_proc(procs, width=2, label_i18n_key='Show value', multiple_proc=true, showStartProc=true, title=_('Identify the explanatory variables that are correlated with the variable(s) specified here.'), nominalScale=True) }}
            {{ macros.data_finder_card() }}
            {{ macros.start_proc(showAutoUpdate=true) }}
            {{ macros.cond_proc(width=2, title=_('Graph Filter: Limits data to be displayed to a subset.'), is_optional=true) }}
            <br class="graph-navi graph-navi-top-down" />
            <div class="show-graph-div d-flex justify-content-center align-items-center" style="text-align: center;">
                {{
                    macros.switch_button(
                    id='tooltipsEnableBtn',
                    name='tooltipsEnableBtn',
                    label=_("Tooltips"),
                    title=_('Tooltips'),
                    cl='mr-3',
                    onChange='tooltipsToggle(this)',
                    defaultVal=True)
                }}
                {{ macros.preprocess_options(objExp=True, outlierDefault='Op1') }}
                <button
                    id="scatter-btn"
                    type="button"
                    value="{{ _('Display graph') }}"
                    onclick="sankeyTraceData(true);"
                    class="btn btn-primary show-graph ml-3"
                    title="Shortcut key: Ctrl+Enter"
                >
                    <i class="fas fa-chart-bar"></i> {{ _('Display graph') }}
                </button>
                {{ macros.export_gui() }}
            </div>
            <br />
        </form>
        {{ macros.cat_label_filter_modal() }}
        {{ macros.jump_modal() }}
    </div>

    <div id="plot-card" class="plot-content" style="margin-top: 1rem; display: none;">
        <div class="mb-2 d-flex" id="graph-settings-area">
            {{ macros.info_i_mark() }}
            {{ macros.on_demand_filter() }}
            {{ macros.nominal_scale_setting() }}
            {{ macros.jump_button() }}
            {{ macros.input_checkbox('strengthenSelection', '', '', _("Strengthen selection"), 'hint-text', _("SkD hover strengthen selection"), '', 'onChangeStrengthenSelection(this)') }}
            <div class="ml-4 skd-chart-title" style="padding-top: 4px"><span id="legend-title"></span></div>
        </div>
        <div class="card chart-wrapper graph-navi">
            <div class="row dark-bg main-chart m-0">
                <div class="col-4 pr-0 bar-container-col">
                    <div>
                        <div id="barContainer" class="graph-container"></div>
                    </div>
                </div>
                <div class="col-8 pl-0 graph-container-col">
                    <div>
                        <div id="graphContainer" class="graph-container"></div>
                    </div>
                </div>
            </div>

            <!-- A. For skd-scp-content content - start  -->
            <!-- A.1 For Summary content  -->
            <div class="tab-pane sankey-scp-tab-content">
                <div class="dark-bg mt-1 py-2 px-0" id="skd-summary"></div>
            </div>

            <!-- A.2 For Metrics content  -->
            <div class="tab-pane sankey-scp-tab-content">
                <div class="row dark-bg m-0 mt-1 d-flex">
                    <div class="col-4 skd-scp p-0">
                        <div class="skd-scp-content" id="actual-fitted-scp"></div>
                    </div>
                    <div class="col-4 skd-scp p-0">
                        <div class="skd-scp-content" id="index-residuals-scp"></div>
                    </div>
                    <div class="col-4 skd-table p-0 mt-3">
                        <table id="regression-table" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>{{ _('Target variable') }}</td>
                                    <td id="target-var"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('MAEInfo') }}" class="hint-text blue-decoration"
                                            >{{ _('Mean absolute error') }} (MAE)</span
                                        >
                                    </td>
                                    <td id="mae"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('R2Info') }}" class="hint-text blue-decoration"
                                            >{{ _('Adjusted R2') }}</span
                                        >
                                    </td>
                                    <td id="adjusted_r2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="classif-table" class="table table-bordered" style="display: none;">
                            <tbody>
                                <tr>
                                    <td>{{ _('Target variable') }}</td>
                                    <td id="target_var"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('Accuracy description') }}" class="hint-text blue-decoration"
                                            >{{ _('Accuracy') }}</span
                                        >
                                    </td>
                                    <td id="accuracy"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('Precision description') }}" class="hint-text blue-decoration"
                                            >{{ _('Precision') }}</span
                                        >
                                    </td>
                                    <td id="precision"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('Recall description') }}" class="hint-text blue-decoration"
                                            >{{ _('Recall') }}</span
                                        >
                                    </td>
                                    <td id="recall"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('ROC-AUC description') }}" class="hint-text blue-decoration"
                                            >{{ _('ROC-AUC') }}</span
                                        >
                                    </td>
                                    <td id="roc_auc"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span title="{{ _('PR-AUC description') }}" class="hint-text blue-decoration"
                                            >{{ _('PR-AUC') }}</span
                                        >
                                    </td>
                                    <td id="pr_auc"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- for skd-scp-content content - end  -->
            <div id="stContentTab">
                <div class="setting-inform-content"></div>
            </div>
        </div>
    </div>
    {{ macros.data_point_info() }}

    <div class=" loading"></div>
    <div style="display: none;" id="msgErrorDBConnection">{{ _("Could not access") }}</div>
    <a
        style="display: none;"
        id="msgErrorDBConnectionAction"
        href="{{ url_for('setting_module.config_screen') }}"
        target="_blank"
        >{{ _("Click here to fix") }}</a
    >
    {{ optdata }}
{% endblock %}

{% block js %}
    <!-- prettier-ignore-start -->
    <script>
        const procJsons = {{ list_procs | safe }};
        const hasGraphCfgsFilterDetails= {{ graph_filter_detail_ids | safe }};
        const procConfigs = {};
        for (let procJson of procJsons){
            const cfgProcess = new CfgProcess(procJson);
            procConfigs[cfgProcess.id] = cfgProcess;
        }
    </script>
    <!-- prettier-ignore-end -->
    {% assets "js_skd" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_skd" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}
