.btn-right {
    float: right;
    margin: 10px 0;
}

.btn-lft {
    float: left;
    margin: 10px 0;
}

.card {
    margin: 10px 0;
}

.btn-add-other-config {
    margin-bottom: 2rem;
}

/* .modal-dialog {
    max-width: 570px !important;
} */

.modal-body {
    text-align: left;
}

.modal-label {
    height: fit-content;
    margin-right: 0.75rem;
}

.modal-file-label {
    word-break: break-all;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    padding: 0.375rem 0.75rem;
    height: 38px;
    max-width: 100%;
    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px !important;
}

#proc-selector {
    width: 45%;
}

.right {
    float: right;
}

.right .btn {
    margin: 10px 0;
}

/*.th-sm {*/
/*    min-width: 5% !important;*/
/*    width: 5% !important;  !* to overide CSS in main.css *!*/
/*}*/

.col-btn {
    width: 3.5% !important;
}

#tblVisualConfig th,
#tblVisualConfig td {
    padding: 0.1rem 0.25rem;
}

#tblVisualConfig td span.select2 {
    width: auto !important;
}

.filter-name {
    width: 30%;
}

.machine-filter-name {
    width: 20%;
}

.filter-condition {
    width: 30%;
}

.filter-start-digit {
    width: 5%;
    min-width: 100px;
}

.select2-container--default .select2-selection--single {
    background-color: #222 !important;
}

.select2-results {
    background-color: #222;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
    color: white !important;
    background-color: #222 !important;
}

.selection {
    color: white !important;
    background-color: #222 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: #222 !important;
    border: 1px solid #222 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #222 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #222 !important;
}

textarea {
    color: #fff;
}

.select2-container--default .select2-results__option--selected {
    color: white !important;
    background-color: #222 !important;
}

/* highlight*/
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb !important;
    color: white !important;
}

button > span {
    color: #d2cece;
}

/* spreadsheet mode */
.jexcel {
    background-color: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

.jexcel td {
    background-color: #303030 !important;
    border: 1px solid #444 !important;
}

.jexcel > div > table {
    border: none !important;
}

.editmode-container {
    width: 100%;
    overflow-x: auto;
}

.jexcel .highlight-bottom.highlight-right {
    border-bottom: 1px solid #739ac2 !important;
    box-shadow: 1px 1px #375a7f40 !important;
    -webkit-box-shadow: 1px 1px #375a7f40 !important;
    -moz-box-shadow: 1px 1px #375a7f40 !important;
}

.jexcel .highlight-bottom {
    border-bottom: 1px solid #739ac2 !important;
    box-shadow: 0px 1px #375a7f40 !important;
    -webkit-box-shadow: 0px 1px #375a7f40 !important;
    -moz-box-shadow: 0px 1px #375a7f40 !important;
}

.jexcel .highlight-right {
    border-right: 1px solid #739ac2 !important;
    box-shadow: 1px 0px #375a7f40 !important;
    -webkit-box-shadow: 1px 0px #375a7f40 !important;
    -moz-box-shadow: 1px 0px #375a7f40 !important;
}

.jexcel .highlight-left {
    border-left: 1px solid #739ac2 !important;
}

.jexcel .highlight-top {
    border-top: 1px solid #739ac2 !important;
}

.jexcel .highlight {
    background-color: #3c3c3c !important;
}

.jexcel .selection-bottom {
    border-bottom: 1px solid #739ac2 !important;
}

.jexcel .selection-right {
    border-right: 1px solid #739ac2 !important;
}

.jexcel .selection-left {
    border-left: 1px solid #739ac2 !important;
}

.jexcel .selection-top {
    border-top: 1px solid #739ac2 !important;
}

.editor input {
    color: white !important;
}

.jexcel_filter input {
    width: 300px;
    background-color: #222222;
    color: white;
}

.jexcel > div > table > thead > tr > td {
    font-size: 16px;
}

thead.resizable {
    font-weight: bold;
}

.table-main.hide,
.editmode-container.hide {
    display: none;
}

.configRegister,
#visualConfigRegister {
    margin-left: 10px;
}

.select2-search__field {
    background-color: #222222 !important;
}

.changeMode {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.jexcel {
    background-color: #444 !important;
    border-right: 1px solid #444 !important;
    border-bottom: 1px solid #444 !important;
}

.jexcel tbody td {
    vertical-align: middle !important;
}

.jexcel thead td {
    vertical-align: middle !important;
    text-align: center !important;
    font-weight: bolder;
}

#graphConfigTable .jdropdown-container {
    position: fixed;
    opacity: 0;
}

.jdropdown-default .jdropdown-header {
    background-color: #222222;
}

.jdropdown-default .jdropdown-content {
    background-color: #222222;
}

.jdropdown-focus {
    background-color: #222222;
}

.jdropdown-focus input {
    color: white;
}

.jdropdown-description {
    color: white;
}

.jexcel_container .hint-text {
    text-decoration: underline;
}

/*style for jspreadsheet calendar*/
.jcalendar .jcalendar-selected {
    border: 1px solid #739ac2 !important;
}

.jcalendar-content {
    background-color: #222222 !important;
}

.jcalendar-reset {
    color: white !important;
}

.jcalendar-confirm {
    color: white !important;
}

.jcalendar-prev {
    color: white !important;
}

.jcalendar-next {
    color: white !important;
}

.jcalendar-controls {
    border-bottom: 1px solid white !important;
}

.jcalendar-time .jcalendar-select {
    background-color: #6e6e6e !important;
    color: white !important;
}

.jcalendar-update {
    background-color: #2b4764 !important;
    color: white !important;
    border: 0px !important;
}

#graphConfigTable {
    overflow: auto;
    /*resize: horizontal;*/
    min-width: 120px;
    max-width: 100%;
}

.collapse-box {
    margin: 10px 10px;
}

#mainContent h3,
h5,
table {
    color: white !important;
}

#sidebar {
    z-index: 9999;
}
#graphConfigTable .filterCol {
    height: 25px !important;
}

@media (max-width: 1140px) {
    #graphConfigTable {
        max-width: 100%;
    }
}

.cookie-banner-container {
    z-index: 9998;
}
