/* Process config modal CSS */
:root {
    --cell-table-background-color: #222;
}

.proc-config-content {
    display: flex;
}

#functionModal {
    display: inline-block;
    overflow: auto;
    max-height: 219px;
}

[id^='processColumnsTable'] {
    position: sticky;
    left: 0;
    z-index: 999;
}

[id^='processColumnsTableSampleData'] {
    position: relative;
    z-index: 0;
}

.proc-config-content table thead th {
    text-align: center;
}

.proc-config-content table th.column-raw-name {
    min-width: 180px;
}

.proc-config-content table {
    background-color: #222222;
}

.proc-config-content table tbody tr,
.proc-config-content table tbody tr td {
    height: 27px;
    min-height: 27px;
    max-height: 27px;
    font-size: 0.9375rem;
}

.proc-config-content table th.data-type {
    min-width: 100px;
}

.proc-config-content table.table-hover-light {
    border-collapse: collapse;
}

.proc-config-content .form-control,
.proc-config-content .form-control:focus,
.proc-config-content .form-control {
    height: 25px;
    padding: 0px 4px;
}

.function-type-content input {
    height: 35px !important;
}

.proc-config-content table th.system,
.proc-config-content table th.japanese-name,
.proc-config-content table th.local-name {
    /*min-width: 200px;*/
}

.proc-config-content
    table
    tbody
    td
    input:not([name='coef'], [name='a_n_s'], [name='b_k'], [name='c_t'], [name='note'], [name='unit']) {
    width: fit-content;
}

.proc-config-content table th.operator {
    min-width: 75px;
}

.proc-config-content table th.column-order {
    min-width: 30px;
}

.proc-config-content table th.column-unit {
    min-width: 75px;
    max-width: 75px;
}

.proc-config-content table td.column-unit {
    min-width: 75px;
    max-width: 75px;
}

.proc-config-content table th {
    padding: 4px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.proc-config-content table td.show-raw-text {
    padding: 0px 8px;
}

.proc-config-content table td {
    padding: 0;
}

.proc-config-content table th.sample-data-column {
    text-align: left;
    padding-left: 8px;
}

.proc-config-content table tbody tr.hovered {
    outline: thin solid white !important;
}

.row-item:not([checked='checked']) {
    color: gray !important;
}

.total-checked-columns {
    border-bottom: 1px solid white;
}

.scroll-content {
    position: absolute;
    width: 111px;
    display: flex;
    align-items: center;
    right: 140px;
    justify-content: space-between;
    top: 48px;
    z-index: 99;
}

.scroll-content span:hover {
    color: #999999;
    transition: all 0.2s;
}

.scroll-content span {
    cursor: pointer;
    font-size: 18px;
}

/*editmode css*/
.editor input,
.jdropdown-default .jdropdown-content {
    background-color: #303030;
}
.jdropdown-item {
    color: #ffffff;
}
.jexcel > tbody > tr > td:nth-child(n + 3):nth-child(-n + 5) {
    text-align: left !important;
}

.jexcel > tbody > tr > td.readonly {
    color: gray !important;
}

/* Function Info Table CSS - Start */
#functionColumnSystemName {
    /*margin-top: 3rem;*/
}

#functionSettingModal span.select2-container--disabled {
    background-color: #444444 !important;
}

#functionSettingModal span.select2-container--disabled .select2-selection--single {
    background-color: unset !important;
    border: none !important;
}

#functionSettingModal .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0.5em;
}

#functionSampleData .sample-data {
    width: calc(100% / 3);
    height: 36px;
    padding: 0px 8px;
}

#functionDetailModal table tr td {
    white-space: pre-line !important;
}

#functionSettingModal .output-data-type {
    /*padding-left: 1rem;*/
    /*padding-top: 0.3rem;*/
    height: 35px;
}

#functionSettingModal .output-data-type span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
}

#functionSettingModal .config-params-area {
    /*padding-left: 4em;*/
    /*padding-right: 4em;*/
}

#functionSettingModal .form-group {
    margin-bottom: 2px !important;
}

#functionSettingModal .param-label {
    /*margin-bottom: 0.1rem !important;*/
}

#functionSettingModal .function-config-label {
    width: 115px;
    min-width: 115px;
    padding-top: 0.2em;
    margin-bottom: 0 !important;
}

#functionSettingModal .function-config-value {
    width: calc(100% - 115px);
    flex: 1;
}

#functionSettingModal .function-config-value span:not(.select2-selection__arrow),
#functionSettingModal .param-value-x span:not(.select2-selection__arrow),
#functionSettingModal .param-value-y span:not(.select2-selection__arrow) {
    min-width: 75px;
}

#functionSettingModal .function-config-value span.select2-selection__rendered,
#functionSettingModal .param-value-x span.select2-selection__rendered,
#functionSettingModal .param-value-y span.select2-selection__rendered {
    min-width: unset;
}

#functionSettingModal .param-label,
#functionSettingModal .param-label-x,
#functionSettingModal .param-label-y {
    width: 50px;
    min-width: 50px;
    margin-bottom: 0;
}

#functionSettingModal .param-value {
    width: calc(100% - 50px);
}

#functionSettingModal .param-value-x,
#functionSettingModal .param-value-y {
    padding-left: 1px;
    flex: 1;
    width: calc(100% - 50px);
}

#functionSettingModal input {
    padding-left: 0.5em;
}

#functionSettingModal #functionNote {
    padding-top: 9px;
}

#functionSettingModal #functionNote textarea {
    height: 73px;
    resize: none;
}

#functionConfigModalSetFilterBtn,
#functionConfigModalResetBtn {
    white-space: nowrap;
}

#functionTableDiv {
    width: 100%;
    overflow-x: auto;
}

#functionTable .column-order-header,
#functionTable .column-order {
    min-width: 30px;
    max-width: 30px;
    /*position: sticky;*/
    /*left: 1px;*/
}

#functionTable .column-function-name-header,
#functionTable .column-function-name {
    min-width: 180px;
    max-width: 180px;
    /*position: sticky;*/
    /*left: 31px;*/
}

#functionTable .column-data-type-header,
#functionTable .column-system-name-header,
#functionTable .column-japanese-name-header,
#functionTable .column-local-name-header,
#functionTable .column-var-x-header,
#functionTable .column-var-y-header,
#functionTable .column-data-type,
#functionTable .column-system-name,
#functionTable .column-japanese-name,
#functionTable .column-local-name,
#functionTable .column-var-x,
#functionTable .column-var-y {
    min-width: 160px;
    max-width: 160px;
}

#functionTable .column-coe-ans-header,
#functionTable .column-coe-bk-header,
#functionTable .column-coe-ct-header,
#functionTable .column-coe-ans,
#functionTable .column-coe-bk,
#functionTable .column-coe-ct {
    min-width: 100px;
    max-width: 100px;
}

#functionTable .column-note-header,
#functionTable .column-note {
    min-width: 150px;
    max-width: 150px;
}

#functionTable .column-output-header,
#functionTable .column-output {
    max-width: 150px;
    min-width: 150px;
}

#functionTable .column-sample-data {
    min-width: 190px;
    max-width: 190px;
}

#functionTable .column-order,
#functionTable .column-function-name,
#functionTable .column-data-type,
#functionTable .column-system-name,
#functionTable .column-japanese-name,
#functionTable .column-local-name,
#functionTable .column-var-x,
#functionTable .column-var-y,
#functionTable .column-coe-ans,
#functionTable .column-coe-bk,
#functionTable .column-coe-ct,
#functionTable .column-note,
#functionTable .column-output,
#functionTable .column-sample-data {
    background: var(--cell-table-background-color);
    /*border-width: 2px;*/
}

#functionTable .column-order-header,
#functionTable .column-function-name-header,
#functionTable .column-data-type-header,
#functionTable .column-system-name-header,
#functionTable .column-japanese-name-header,
#functionTable .column-local-name-header,
#functionTable .column-var-x-header,
#functionTable .column-var-y-header,
#functionTable .column-coe-ans-header,
#functionTable .column-coe-bk-header,
#functionTable .column-coe-ct-header,
#functionTable .column-note-header,
#functionTable .column-output-header,
#functionTable .column-sample-data-header {
    background: var(--dark);
    /*border-width: 2px;*/
}

#functionTable .column-sample-data-header {
    min-width: calc(190px * 5);
    max-width: calc(190px * 5);
    text-align: left;
    padding-left: 1rem;
    background: var(--dark);
}

/* No longer support for change color when unselect/select */
#functionTable tr[checked='checked'] label.row-item,
#functionTable tr[checked='checked'] td.row-item,
#functionTable tr[checked='checked'] input.row-item,
#functionTable tr[checked='checked'] span.row-item,
#functionTable tr[checked='checked'] select.row-item,
#functionTable tr:not([checked='checked']) label.row-item,
#functionTable tr:not([checked='checked']) td.row-item,
#functionTable tr:not([checked='checked']) input.row-item,
#functionTable tr:not([checked='checked']) span.row-item,
#functionTable tr:not([checked='checked']) select.row-item,
#functionTable tr:not([checked='checked']) td.row-item .config-data-type-dropdown {
    color: white !important;
}

/* For filter/search rows */
#functionTable tr.gray label.row-item,
#functionTable tr.gray td.row-item,
#functionTable tr.gray input.row-item,
#functionTable tr.gray span.row-item,
#functionTable tr.gray select.row-item {
    color: gray !important;
}

#functionTable tr.selected td,
#functionTable tr.selected td input,
#functionTable tr.selected td span {
    background-color: steelblue !important;
}

#deleteFunctionColumnTable .show-raw-text,
#functionUserSettingTable .show-raw-text,
#functionTable .show-raw-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0;
}

#functionSettingChangeMark {
    font-size: 8px;
    padding-top: 1.4em;
    padding-left: 1em;
}

.select2-container--open {
    z-index: 99999;
}

#functionMessageHelper {
    height: 80px;
    line-height: 20px;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-moz-box-orient: vertical;*/
    /*-ms-box-orient: vertical;*/
    /*box-orient: vertical;*/
    /*-webkit-line-clamp: 4;*/
    /*-moz-line-clamp: 4;*/
    /*-ms-line-clamp: 4;*/
    /*line-clamp: 4;*/
    /*overflow: hidden;*/
    overflow: auto;
}

#collapseFunctionConfig .functionSampleDataUtilities {
    margin-top: -25px;
}

#collapseFunctionConfig .functionSampleDataUtilities .custom-switch {
    z-index: 10;
}

#collapseFunctionConfig .functionSampleDataUtilities .custom-switch .custom-control-label span {
    position: absolute;
    display: block;
    top: calc(0.203125rem - 4px);
    left: calc(-2.25rem - 55px);
}

/*Delete function column modal*/

#deleteFunctionColumn .column-system-name,
#deleteFunctionColumn .column-japanese-name,
#deleteFunctionColumn .column-local-name,
#deleteFunctionColumn .column-var-x,
#deleteFunctionColumn .column-var-y {
    min-width: 160px;
    max-width: 160px;
    overflow: hidden;
}

@media screen and (min-width: 1001px) and (max-width: 1700px) {
    #functionSettingModal .config-function-name-area {
        min-width: 25%;
        max-width: 25%;
    }

    #functionSettingModal .config-params-area {
        min-width: 40%;
        max-width: 40%;
    }

    #functionSettingModal .proc-config-content {
        min-width: 35%;
        max-width: 35%;
    }

    #functionSettingModal .config-params-area-col,
    #functionSettingModal .function-description {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    #functionColumnSystemName {
        margin-top: unset;
    }

    #functionSettingModal .config-function-name-area,
    #functionSettingModal .config-params-area,
    #functionSettingModal .proc-config-content {
        flex: none;
        max-width: unset;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    #functionSettingModal .param-label,
    #functionSettingModal .param-label-x,
    #functionSettingModal .param-label-y {
        width: 115px;
        min-width: 115px;
    }

    #functionSettingModal .param-value {
        width: calc(100% - 85px);
    }

    #functionSettingModal .param-value-x,
    #functionSettingModal .param-value-y {
        flex: 1;
    }

    #functionSettingModal .config-params-area-col,
    #functionSettingModal .function-description {
        flex: unset;
        max-width: unset;
    }

    #functionSettingModal .function-description {
        margin-left: 115px;
        padding-left: 0 !important;
    }

    #functionMessageHelper {
        float: left;
        width: calc((100% - 10px) / 2);
        height: 103px;
    }

    #functionSettingModal .form-group #functionNote {
        float: right;
        width: calc((100% - 10px) / 2);
        padding-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #functionSettingModal .form-group #functionNote textarea {
        height: 80px;
        resize: none;
    }

    #functionSettingModal .form-group #functionNote label {
        margin-bottom: 0;
    }

    #collapseFunctionConfig .functionSampleDataUtilities {
        margin-top: unset;
        position: absolute;
        top: 583px;
        right: 15px;
    }
}

#functionSettingModal .row-invalid {
    border: 3px solid red;
}

#procDateTimeFormatInput {
    height: 30px;
    min-width: 200px;
}
/* Function Info Table CSS - End */

/* Merge mode */
#procMergeModal {
    /*display: none;*/
}

#parentProcessTable .parent-process-rows,
.merge-mode-sample-data {
    background-color: #444444;
}

table#childProcessSampleData tbody tr td {
    min-width: 30px;
    border-color: #5b5959 !important;
}

table#childProcessColumns thead tr th {
    padding-left: 15px;
    padding-right: 15px;
}

.merge-mode-tables-left {
    display: inline-block;
    position: sticky;
    left: 0;
    z-index: 999;
}

#parentProcessTable {
    width: 100% !important;
}

#parentProcessTable th.system,
#parentProcessTable th.japanese-name,
#parentProcessTable th.local-name {
    min-width: 180px;
}

#parentProcessTable tbody.parent-process-rows tr td,
#mergeModeSettingContent .column-format {
    max-width: 180px;
    border-color: #5b5959 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#parentProcessSampleData tbody.merge-mode-sample-data tr td {
    border-color: #5b5959 !important;
}

#childProcessColumns {
    /*width: 10% !important;*/
}

#childProcessSampleData {
    display: block;
}

#childProcessSampleData thead {
    display: block;
    margin-left: -2px;
}

#parentProcessSampleData {
    display: block;
}

#parentProcessSampleData thead {
    display: block;
    margin-left: -3px;
}

#parentProcessSampleData thead *,
#childProcessSampleData thead * {
    display: block;
}

#parentProcessSampleData thead th {
    display: block;
    margin-top: -0.5px;
}

#childProcessSampleData thead th {
    display: block;
    margin-top: -0.5px;
}
#parentProcessSampleData tbody {
    display: block;
    overflow-x: auto;
    margin-left: -3px;
    margin-top: -2px;
}

#childProcessSampleData tbody {
    display: block;
    overflow-x: auto;
    margin-left: -2px;
    margin-top: -2px;
}

#parentProcessSampleData tbody::after,
#childProcessSampleData tbody::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: transparent;
}

.merge-mode-tables-child {
    flex-grow: 1;
    height: fit-content;
    width: 20% !important;
}

.merge-mode-tables-base {
    flex-grow: 1;
    height: fit-content;
    width: 20% !important;
}

.confirmation-modal {
    z-index: 1070 !important;
}

#mergeModeSettingContent .proc-config-content {
    overflow-x: hidden;
}
